{% extends "contact/base.html" %}
{% from "__formhelper.html" import render_field %}
{% block head_js %}
<script type="text/javascript">
        function delContactAddress(n) {
		//console.log("del:");
		$(n).parent().parent().remove();
		// TODO: replce ids and names
        };
        function addContactAddress() {
		// add row to end of children of table (id="contactaddresses")
		parent = $('#contactaddresses');
		i = parent.children().length;
		//console.log('add: '+i);
		a = $('<tr> <td/> <td> <input id="addresses-'+i+'-value" name="addresses-'+i+'-value" type="text"> </td> <td> <button type="button" onClick="delContactAddress(this);"> x </button> </td> </tr>');
		a.appendTo(parent);
        };
</script>
{% endblock %}
{% if formerrors %} {{ form.errors }} {% endif %}
{% block content %}
<form method=post action=".">
{{ form.hidden_tag() }}
  <table>
    {{ render_field(form.lastname) }}
    {{ render_field(form.firstname) }}
    {{ render_field(form.midname) }}
    {{ render_field(form.birthdate) }}
    <tr>
      <th valign="top"> Адреса: </th>
      <td>
        <table border="1">
	  <thead>
            <tr> <th/> <th> Адрес </th> <th/> </tr>
	  </thead>
	  <tbody id="contactaddresses">
          {% for address in form.addresses %}
            <tr>
	      <td> <input id="{{address.id}}-id" name="{{address.id}}-id" type="hidden" value="{{address.data.id}}"> </td>
	      <td> {{ address.value }}
                {% if address.value.errors %}
                  <ul class=errors> {% for error in address.value.errors %} <li>{{ error }}</li> {% endfor %} </ul>
                {% endif %}
	      </td>
	      <td> {{address.todel}} </td>
	    </tr>
          {% endfor %}
	  </tbody>
        <table>
	<button type="button" onClick='addContactAddress();'> + </button>
      </td>
    </tr>
    {# render_field(form.newaddress) #}
  </table>
  <p>
	<button type="submit"> Save </button>
	{% if id %}
	  <a href="{{ url_for('contact.view', id=id) }}">
	{% else %}
	  <a href="{{ url_for('contact.index') }}">
	{% endif %}
	<button type="button"> Cancel </button> </a>
  </p>
</form>
{% endblock %}
