{% from "__formhelper.html" import render_field %}
{% if formerrors %} {{ form.errors }} {% endif %}
<form method=post action=".">
{{ form.hidden_tag() }}
  <table>
    {{ render_field(form.lastname) }}
    {{ render_field(form.firstname) }}
    {{ render_field(form.midname) }}
    {{ render_field(form.birthdate) }}
    <tr>
      <th> Адреса: </th>
      <td>
        <table>
          <tr> <th> Адрес </th> </tr>
          {% for address in form.addresses %}
          <tr>
	    <td> {{ address.value }}
              {% if address.value.errors %}
                <ul class=errors> {% for error in address.value.errors %} <li>{{ error }}</li> {% endfor %} </ul>
              {% endif %}
	    </td>
	  </tr>
          {% endfor %}
	  <!--tr> <td> <input id="addresses-0-value" name="addresses-0-value" type="text"> </td> </tr-->
        <table>
      </td>
    </tr>
    {# render_field(form.newaddress) #}
  </table>
  <p>
	<button type="submit"> Save </button>
	{% if id %}
	  <a href="{{ url_for('contact.view', id=id) }}">
	{% else %}
	  <a href="{{ url_for('contact.index') }}">
	{% endif %}
	<button type="button"> Cancel </button> </a>
  </p>
</form>
