{% extends "doc_detail_base.html" %}
{% load templatetags %}
{% block details %}
<tr>	<td> Наименование (кратко): </td>	<td> {{ data.name }} </td>	</tr>
<tr>	<td> Открытие: </td>			<td> {{ data.opening }} </td>	</tr>
<tr>	<td> Код налогового органа: </td>			<td> {{ data.kno }} </td>	</tr>
<tr>	<td> Тип фирмы: </td>			<td> {{ data.otype|getorgtype }} </td>	</tr>
<tr>	<td> Наименование фирмы (полное): </td>		<td> {{ data.oname }} </td>	</tr>
<tr>	<td> ИНН фирмы: </td>			<td> {{ data.oinn }} </td>	</tr>
<tr>	<td> КПП фирмы: </td>			<td> {{ data.okpp }} </td>	</tr>
<tr>	<td> ОГРН фирмы: </td>			<td> {{ data.oogrn }} </td>	</tr>
<tr>	<td> Должность шефа: </td>		<td> {{ data.jobrole }} </td>	</tr>
<tr>	<td> Фамилия руководителя: </td>		<td> {{ data.bossf }} </td>	</tr>
<tr>	<td> Имя руководителя: </td>		<td> {{ data.bossi }} </td>	</tr>
<tr>	<td> Отчество руководителя: </td>		<td> {{ data.bosso }} </td>	</tr>
<tr>	<td> ИНН руководителя: </td>		<td> {{ data.bossinn }} </td>	</tr>
<tr>	<td> Контактный телефон руководителя: </td>		<td> {{ data.bossphone }} </td>	</tr>
<tr>	<td> Счёт: </td>				<td> {{ data.rs }} </td>	</tr>
<tr>	<td> Наименование банка: </td>		<td> {{ data.bname }} </td>	</tr>
<tr>	<td> ИНН банка: </td>			<td> {{ data.binn }} </td>	</tr>
<tr>	<td> КПП банка: </td>			<td> {{ data.bkpp }} </td>	</tr>
<tr>	<td> Индекс банка: </td>			<td> {{ data.bzip }} </td>	</tr>
<tr>	<td> Код региона: </td>			<td> {{ data.breg }} </td>	</tr>
<tr>	<td> БИК: </td>				<td> {{ data.bik }} </td>	</tr>
<tr>	<td> Адрес банка: район: </td>				<td> {{ data.badistr }} </td>	</tr>
<tr>	<td> Адрес банка: город: </td>				<td> {{ data.batown }} </td>	</tr>
<tr>	<td> Адрес банка: населённый пункт: </td>				<td> {{ data.bapunkt }} </td>	</tr>
<tr>	<td> Адрес банка: улица (проспект, переулок и т.д.): </td>				<td> {{ data.bastreet }} </td>	</tr>
<tr>	<td> Адрес банка: номер дома (владения): </td>				<td> {{ data.bahouse }} </td>	</tr>
<tr>	<td> Адрес банка: номер корпуса (строения): </td>				<td> {{ data.bastr }} </td>	</tr>
<tr>	<td> Адрес банка: номер офиса: </td>				<td> {{ data.baoff }} </td>	</tr>
<tr>	<td> Дата открытия/закрытия: </td>	<td> {{ data.date0 }} </td>	</tr>
<tr>	<td> Дата документа: </td>		<td> {{ data.date1 }} </td>	</tr>
{% endblock %}
