<!-- File -->
{% extends "file/base.html" %}
{% block body_main %}
<table class="itemlist">
	<caption>
		<a href="{% url apps.file.views.file_add %}"> <button title="Добавить новый Файл" style="float:left"> + </button> </a>
		<div id="dropdown0" class="dropdown" style="float:left">
			<button title="Всякие действия"> Действия &#9663; </button>
		</div>
		{% include "paginator.html" %}
	</caption>
	<thead>
	<tr>
		<th> {% with "selecttodo" as id %} {# include "selectmenu.html" #} {% endwith %} </th>
		<th> Наименование </th>
		<th> MIME </th>
		<th> Saved </th>
		<th> Size </th>
		<th> MD5 </th>
		<th/>
	</tr>
	</thead>
	<tbody>
	{% for object in object_list %}
		<tr bgcolor={% cycle 'lightcyan' 'white' %}>
			<td nowrap> <input type="checkbox" name="file" value="{{ object.id }}"/> </td>
			<td> <a href="{{ object.get_absolute_url }}"> {{ object.name }} </a> </td>
			<td> {{ object.mime }} </td>
			<td> <tt> {{ object.saved|date }} </tt> </td>
			<td align="right"> <tt> {{ object.size }} </tt> </td>
			<td> <tt> {{ object.md5 }} </tt> </td>
			<td>
				<a title="Удалить" href="{% url apps.file.views.file_del object.id %}"> <button> x </button> </a>
				<a title="Слить" href="{% url apps.file.views.file_dl object.id %}"> <button> v </button> </a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
<table>
<form enctype="multipart/form-data" action="{% url apps.file.views.file_add %}" method="POST">
	<p> {{ form.as_p }} <button type="submit" title="Upload"/> + </button> </p>
</form>
{% endblock %}
