{% extends "base.html" %}
{% block jsready %}
$("#tm_about").addClass("active");
{% endblock %}
{% block body_main %}
<h1> Система согласования счетов </h1>
<p> <i> (Пре-альфа-релиз-кандидат - т.е. на честном слове - но уже работает) </i> </p>
<h2> 0. Термины </h2>
 <dl>
  <dt> Исполнитель: </dt>
   <dd> Тот, кто запускает счет по маршруту </dd>
  <dt> Согласователь </dt>
   <dd> Подписывает </dd>
  <dt> Бухгалтер </dt>
   <dd> Закрывает счет </dd>
  <dt> Маршрут </dt>
   <dd> Порядок согласования </dd>
  <dt> Accept </dt>
   <dd> Принять </dd>
  <dt> Reject </dt>
   <dd> Несогласовать </dd>
 </dl>
<h2> 1. Как оно работает </h2>
 <ol>
  <li> Исполнитель создает счет, указывает реквизиты и маршрут - состояние "Черновик". </li>
  <li> Внимательно посмотрев на результат - запускает по маршруту (с опциональным комментарием) - состояние "В пути". </li>
  <li> Согласователь согласовывает <i>(неудачный термин)</i> его (Accept, опционально - с комментариями) - и счет двигается к следующему Согласователю. </li>
  <li> Конечная точка маршрута (бухгалтер) оплачивает счет, нажимает Accept - и счет возвращается к Исполнителю в состоянии "Согласован". </li>
  <li> Любая точка маршрута может оборвать (?) движение счета (Reject, с комментариями) - счет вернется Исполнителю в состоянии "Не согласован" <i>(неудачный термин, надо подумать)</i>. </li>
 </ol>
 <p> (порядок согласователей в маршруте - мышкой вверх-вниз) </p>
 <p> Права: </p>
 <ol>
  <li> Все: <ul>
   <li> Просмотр списка всех счетов </li>
   <li> Просмотр счета </li>
  </ul> </li>
  <li> Исполнитель: <ul>
   <li> Создание счета и его маршрута </li>
   <li> Редактирование счета (Черновик) </li>
   <li> Запуск по маршруту (с комментарием) </li>
   <li> Удаление счета (Черновик / Не согласованный) </li>
  </ul> </li>
  <li> Согласователь/Бухгалтер: <ul>
   <li> Согласиться (Accept) / не согласиться (Reject) - с опциональным комментарием. </li>
  </ul> </li>
 </ol>
<h2> 2. Что есть </h2>
 <ol>
  <li> Список счетов </li>
  <li> Создание/просмотр/редактирование/удаление счета </li>
  <li> Создание/редактирование маршрута счета </li>
  <li> Прохождение по маршруту </li>
  <li> Раздельные права пользователей </li>
 </ol>
<h2> 3. Чего нет </h2>
<p> <i> (но планируется в ближайшее время) </i> </p>
 <ol>
  <li> Контроль маршрута перед запуском (Исполнитель не должен быть в маршруте). </li>
  <li> Проверка комментариев (обязательно - при запуске и Несогласовании). </li>
  <li> Просмотр счета прямо в веб странице (сейчас приходится счет скачивать). </li>
  <li> Фильтр списка счетов №1 (каждому видны только "его" счета - в которых он или исполнитель или текущий Согласователь [или был/есть в маршруте]). </li>
  <li> Фильтр списка счетов №2 - Черновики/В пути/Согласованные/Не согласованные. </li>
  <li> Перезапуск несогласованного счета. </li>
  <li> Сообщение по электропочте. </li>
  <li> Архивирование согласованных счетов (отдельная программа). </li>
 </ol>
<h2> 4. Что может быть </h2>
<p> <i> (т.е. не планируется, но неплохо бы) </i> </p>
 <ol>
  <li> Проекты и Направления - в виде справочников. </li>
  <li> Перехват счет в пути ("Ой!.. я не хотел!"). </li>
  <li> Цифровая подпись. </li>
 </ol>
<h2> 5. Плюшки </h2>
<p> <i> (нефункциональные удобства; тоже - планируется) </i> </p>
 <ol>
  <li> Выделение счетов цветом согласно их состояниям. </li>
  <li> Перелистывание страниц списка счетов. </li>
  <li> Выделение пройденного маршрута (зачеркиванием?). </li>
  <li> Группы пользователей (Руководители, Бухгалтеры и всё такое). </li>
 </ol>

<h2> 6. Fixme </h2>
 <ol>
  <li> Скан при редактировании. </li>
 </ol>
<h2> 7. Changelog </h2>
 <h3> 2013-12-24: </h3>
  <p> Initial release </p>
 <h3> 2014-01-14: </h3>
 <ol>
  <li> Маршрут - не "userXX", а "ФИО (должность)". </li>
  <li> Контроль маршрута при записи (маршрут должен быть не пустым, маршрут должен заканчиваться Бухгалтером). </li>
 </ol>

{% endblock %}
