{% extends "bills/base.html" %}
{% block body_main %}
<table border="1">
<caption>  Bill: </caption>
<tbody>
 <tr> <th> # </th> <td> {{ object.pk }} </td> </tr>
 <tr> <th> Объект </th> <td> {{ object.project }} </td> </tr>
 <tr> <th> Направление </th> <td> {{ object.depart }} </td> </tr>
 <tr> <th> Ответственный </th> <td> {{ object.assign }} </td> </tr>
 <tr> <th> Согласующий </th> <td> {{ object.approve }} </td> </tr>
 <tr> <th> Состояние </th> <td>
  {% if object.isalive %}
   {% if object.isgood %} В пути {% else %} Черновик {% endif %}
  {% else %}
   {% if object.isgood %} Не согласован {% else %} Согласован {% endif %}
  {% endif %}
 </td> </tr>
 <tr> <th> Маршрут </th> <td>
  <ol>
  {% for i in object.route.all %}
   <li> {{ i }} </li>
  {% endfor %}
  </ol>
 </td> </tr>
 <tr> <th> История </th> <td>
  <ol>
  {% for i in object.history.all %}
   <li> {{ i }} </li>
  {% endfor %}
  </ol>
 </td> </tr>
</tbody>
</table>
<p>
<a href="{% url bills.views.bill_get object.pk %}"> <button type="button"> Get </button> </a>
<a href="{% url bills.views.bill_edit object.pk %}"> <button type="button"> Edit </button> </a>
<a href="{% url bills.views.bill_delete object.pk %}"> <button type="button"> Delete </button> </a>
</p>
<form action="" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
</form>
<p>
<a href="{% url bills.views.bill_accept object.pk %}"> <button type="submit"> Accept </button> </a>
<a href="{% url bills.views.bill_reject object.pk %}"> <button type="submit"> Reject </button> </a>
</p>
{% endblock %}
