{% extends "bills/base.html" %}
{% block body_main %}
<table width="100%">
<caption> Bill: </caption>
<tbody>
 <tr> <th> # </th> <td> {{ object.pk }} </td> </tr>
 <tr> <th> Объект </th> <td> {{ object.project }} </td> </tr>
 <tr> <th> Направление </th> <td> {{ object.depart }} </td> </tr>
 <tr> <th> Ответственный </th> <td> {{ object.assign }} </td> </tr>
 <tr> <th> Согласующий </th> <td> {{ object.approve }} </td> </tr>
 <tr> <th> Состояние </th> <td> </td> </tr>
</tbody>
</table>
<a href="{% url bills.views.bill_add %}"> <button type="button"> + </button> </a>
{% endblock %}
