{% extends "base.html" %}
{% block title %} {{ block.super }} AEV {% endblock %}
{% block head_css %}
	<link type="text/css" href="{{ STATIC_URL }}css/elen/jquery-ui-1.8.4.custom.css" rel="stylesheet">
	<link type="text/css" href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
	<!--Debug CSS-->
	<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/debug.css" type="text/css">-->
{% endblock %}
{% block head_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/datepicker_lang.js"></script>
{% endblock %}
{% block onload_js %} {{ block.super }} setmenu("menu_eav"); {% endblock %}
{% block topmenu %} {{ block.super }} {% include "eav/menu.html" %} {% endblock %}
