<!-- Address.Select.Addr -->
{% extends "core/address_base.html" %}
{% block body_detail %}
<!-- 2. Children -->
<p> <form action=".{% if next %}?next={{ next }}{% endif %}" method="post">
	Выберите {{ short }}:
	{{ form.item }}
	<input type="submit" value="OK"/>
	{% if next %} <a class="button" href="{{ next }}"> Отказаться </a> {% endif %}
</form> </p>
<script type="text/javascript"> document.getElementById('id_item').focus() </script>
<p> Еще: <a href="JavaScript:doMenu();" id=exp>&#9654;</a></p> <div id=div style="display:none">
<!-- 3. New address w/ selected short -->
<p> Новый/ая {{ short }}: </p>
<form action="{% url apps.core.views.address_short_add item.id short.id %}{% if next %}?next={{ next }}{% endif %}" method="post">
	<table> {{ formadd.as_table }} </table>
	<p> <input type="submit" value="OK"/> </p>
</form>
</div>
{% endblock %}
