{% extends "gw/bits/base.html" %}
{% block body_main %}
<table class="itemlist">
	<caption>
		{% include "paginator.html" %}
	</caption>
	<thead>
		<tr>
			<th nowrap> ID </th>
			<th nowrap> Date </th>
			<th nowrap> Time </th>
			<th nowrap> User </th>
			<th nowrap> Type </th>
			<th nowrap> Object_id </th>
			<th nowrap> Object </th>
			<th nowrap> Action </th>
			<th nowrap> Comments </th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
			<tr>
				<td nowrap> <a href="{% url gw.views.logentry_detail object.pk %}"> {{ object.pk }} </a> </td>
				<td nowrap> {{ object.action_time|date }} </td>
				<td nowrap> {{ object.action_time|time:"H:i:s" }} </td>
				<td nowrap> {{ object.user }} </td>
				<td nowrap> {{ object.content_type }} </td>
				<td nowrap> {{ object.object_id }} </td>
				<td nowrap> {{ object.object_repr }} </td>
				<td nowrap> {{ object.action_flag }} </td>
				<td nowrap> {{ object.change_message }} </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
