{# L2 menu /Core/ #}
<ul class="l2" idref="menu_core">
	<li id="menu_core_address"> <a href="{% url apps.core.views.address_index %}"> Адреса </a> </li>
	<li id="menu_core_phone"> <a href="{% url apps.core.views.phone_index %}"> Телефоны </a> </li>
	<li id="menu_core_www"> <a href="{% url apps.core.views.www_index %}"> WWW </a> </li>
	<li id="menu_core_email"> <a href="{% url apps.core.views.email_index %}"> Email </a> </li>
	<li id="menu_core_im"> <a href="{% url apps.core.views.im_index %}"> IM </a> </li>
</ul>
