<!-- WWW -->
{% extends "core/www_base.html" %}
{% block body_main %}
<table class="itemlist">
	<caption>
		<a href="{% url apps.core.views.www_add %}"> <button title="Добавить новый WWW" style="float:left"> + </button> </a>
		<div id="dropdown0" class="dropdown" style="float:left">
			<button title="Всякие действия"> Действия &#9663; </button>
		</div>
		{% include "paginator.html" %}
	</caption>
	<thead>
		<tr>
			<th> {% with "selecttodo" as id %} {# include "selectmenu.html" #} {% endwith %} </th>
			<th> № </th>
		</tr>
	</thead>
	<form id="itemform" method="post" action="{# url apps.core.views.www_del_selected #}">
	<tbody>
	{% for object in object_list %}
		<tr>
			<td nowrap> <input type="checkbox" name="www" value="{{ object.id }}"/> </td>
			<td> <a href="{{ object.get_absolute_url }}"> {{ object }} </a> </td>
		</tr>
	{% endfor %}
	</tbody>
	</form>
</table>
{% endblock %}
