<!-- File.Detail -->
{% extends "gw/file/base.html" %}
{% block title %} Изображение {% endblock %}
{% block topbar %} <a href="{% url gw.views.file_index_img %}"> Изображения </a> {% endblock %}
{% block body_detail %}
<table>
	<tr> <td> File name: </td>	<td> <a href="{% url gw.views.file_dl item.id %}" title="Download">  {{ item.name }} </a> </td> </tr>
	<tr> <td> MIME: </td>		<td> {{ item.mime }} </td> </tr>
	<tr> <td> Saved: </td>		<td> {{ item.saved }} </td> </tr>
	<tr> <td> File Size: </td>	<td> {{ item.size }} </td> </tr>
	<tr> <td> MD5: </td>		<td> {{ item.md5 }} </td> </tr>
	<tr> <td> Image Size: </td>	<td> {{ item.width }} x {{ item.height }} </td> </tr>
	<tr> <td> Pages: </td>		<td> {{ item.pages }} </td> </tr>
</table>
<hr/>
         {% load gw_extras %}
    {% taglist item %}
    <hr/>
{% for i in item.getthumbs %}
	<img src="/media/{{ i }}"  alt="{{ item.name }}" border="1"/>
{% endfor %}
{% endblock %}
