{% extends "auto_form.html" %}
{% load kwacros %}
{% loadkwacros "fieldwrap.html" %}
{% block body_form %}
<table border="1">
		{% usekwacro fieldwrap form.name %}
		<div>
		<fieldset>
			<legend> Регистрирующий орган </legend>
			<div class="list">
				{% usekwacro fieldwrap form.spro_name %}
				{% usekwacro fieldwrap form.spro_id %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Основные </legend>
			<div class="list">
				{% usekwacro fieldwrap form.lastname %}
				{% usekwacro fieldwrap form.firstname %}
				{% usekwacro fieldwrap form.midname %}
				{% usekwacro fieldwrap form.sex %}
				{% usekwacro fieldwrap form.adult %}
				{% usekwacro fieldwrap form.birthdate %}
				{% usekwacro fieldwrap form.birthplace %}
				{% usekwacro fieldwrap form.inn %}
				{% usekwacro fieldwrap form.citizenship %}
				{% usekwacro fieldwrap form.country %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Место жительства в РФ </legend>
			<div class="list">
				{% usekwacro fieldwrap form.addr_zip %}
				{% usekwacro fieldwrap form.addr_srf %}
				{% usekwacro fieldwrap form.addr_region %}
				{% usekwacro fieldwrap form.addr_city %}
				{% usekwacro fieldwrap form.addr_locality %}
				{% usekwacro fieldwrap form.addr_street %}
				{% usekwacro fieldwrap form.addr_house %}
				{% usekwacro fieldwrap form.addr_building %}
				{% usekwacro fieldwrap form.addr_app %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Телефон </legend>
			<div class="list">
				{% usekwacro fieldwrap form.phone_code %}
				{% usekwacro fieldwrap form.phone_no %}
				{% usekwacro fieldwrap form.phone_fax %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Удостоверение личности </legend>
			<div class="list">
				{% usekwacro fieldwrap form.doc_type %}
				{% usekwacro fieldwrap form.doc_series %}
				{% usekwacro fieldwrap form.doc_no %}
				{% usekwacro fieldwrap form.doc_date %}
				{% usekwacro fieldwrap form.doc_whom %}
				{% usekwacro fieldwrap form.doc_kp %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Для самых маленьких </legend>
			<div class="list">
				{% usekwacro fieldwrap form.adult_type %}
				{% usekwacro fieldwrap form.adult_doc_type %}
				{% usekwacro fieldwrap form.adult_doc_no %}
				{% usekwacro fieldwrap form.adult_doc_date %}
				{% usekwacro fieldwrap form.adult_doc_whom %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Для иносранцев и бомжей </legend>
			<div class="list">
				{% usekwacro fieldwrap form.elastname %}
				{% usekwacro fieldwrap form.efirstname %}
				{% usekwacro fieldwrap form.emidname %}
				{% usekwacro fieldwrap form.perm_type %}
				{% usekwacro fieldwrap form.perm_no %}
				{% usekwacro fieldwrap form.perm_date %}
				{% usekwacro fieldwrap form.perm_whom %}
				{% usekwacro fieldwrap form.perm_due %}
				{% usekwacro fieldwrap form.perm_due_vnz %}
			</div>
		</fieldset>
		</div>
</table>
{% endblock %}
