{% extends "auto_form.html" %}
<!-- customization fields -->
{% load kwacros %}
{% loadkwacros "fieldwrap.html" %}
{% block body_form %}
<table border="1">
		{% usekwacro fieldwrap form.name %}
		<div style="vertical-align: top">
		<fieldset>
			<legend> Мигрант </legend>
		<div>
		<fieldset>
			<legend> Основные данные </legend>
			<div class="list">	<!-- or table -->
				{% usekwacro fieldwrap form.m_lastname %}
				{% usekwacro fieldwrap form.m_firstname %}
				{% usekwacro fieldwrap form.m_citizenship %}
				{% usekwacro fieldwrap form.m_birthdate %}
				{% usekwacro fieldwrap form.m_sex %}
				{% usekwacro fieldwrap form.m_birthcountry %}
				{% usekwacro fieldwrap form.m_birthlocation %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Документ, удостоверяющий личность </legend>
			<div class="list">
				{% usekwacro fieldwrap form.m_idcard_type %}
				{% usekwacro fieldwrap form.m_idcard_sn %}
				{% usekwacro fieldwrap form.m_idcard_no %}
				{% usekwacro fieldwrap form.m_idcard_date %}
				{% usekwacro fieldwrap form.m_idcard_expired %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Документ на пребывание </legend>
			<div class="list">
				{% usekwacro fieldwrap form.m_visa_type %}
				{% usekwacro fieldwrap form.m_visa_sn %}
				{% usekwacro fieldwrap form.m_visa_no %}
				{% usekwacro fieldwrap form.m_visa_date %}
				{% usekwacro fieldwrap form.m_visa_expired %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Остальное </legend>
			<div class="list">
				{% usekwacro fieldwrap form.aim %}
				{% usekwacro fieldwrap form.profession %}
				{% usekwacro fieldwrap form.experience %}
				{% usekwacro fieldwrap form.arrive %}
				{% usekwacro fieldwrap form.expired %}
				{% usekwacro fieldwrap form.represent %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Миграционная карта </legend>
			<div class="list">
				{% usekwacro fieldwrap form.mcard_sn %}
				{% usekwacro fieldwrap form.mcard_no %}
			</div>
		</fieldset>
		</div>
		</fieldset>
		<fieldset style="margin-bottom: auto;">
			<legend> Принимающая сторона </legend>
		<div>
		<fieldset>
			<legend> Основные данные </legend>
			<div class="list">
				{% usekwacro fieldwrap form.host_type %}
				{% usekwacro fieldwrap form.h_lastname %}
				{% usekwacro fieldwrap form.h_firstname %}
				{% usekwacro fieldwrap form.h_birthdate %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Документ </legend>
			<div class="list">
				{% usekwacro fieldwrap form.h_idcard_type %}
				{% usekwacro fieldwrap form.h_idcard_sn %}
				{% usekwacro fieldwrap form.h_idcard_no %}
				{% usekwacro fieldwrap form.h_idcard_date %}
				{% usekwacro fieldwrap form.h_idcard_expired %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Адрес </legend>
			<div class="list">
				{% usekwacro fieldwrap form.h_srf %}
				{% usekwacro fieldwrap form.h_region %}
				{% usekwacro fieldwrap form.h_city %}
				{% usekwacro fieldwrap form.h_street %}
				{% usekwacro fieldwrap form.h_house %}
				{% usekwacro fieldwrap form.h_housing %}
				{% usekwacro fieldwrap form.h_building %}
				{% usekwacro fieldwrap form.h_flat %}
				{% usekwacro fieldwrap form.h_phone %}
			</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Организация </legend>
			<div class="list">
				{% usekwacro fieldwrap form.org_name %}
				{% usekwacro fieldwrap form.org_addr %}
				{% usekwacro fieldwrap form.org_inn %}
			</div>
		</fieldset>
		</div>
		</fieldset>
		</div>
		<div>
		<fieldset>
			<legend> Адрес пребывания </legend>
			<div class="list">
				{% usekwacro fieldwrap form.seat_srf %}
				{% usekwacro fieldwrap form.seat_region %}
				{% usekwacro fieldwrap form.seat_city %}
				{% usekwacro fieldwrap form.seat_street %}
				{% usekwacro fieldwrap form.seat_house %}
				{% usekwacro fieldwrap form.seat_housing %}
				{% usekwacro fieldwrap form.seat_building %}
				{% usekwacro fieldwrap form.seat_flat %}
				{% usekwacro fieldwrap form.seat_phone %}
			</div>
		</fieldset>
		</div>
</table>
{% endblock %}
