{% extends "core/base.html" %}
{% block body_main %}

<table width="100%" border="1">
<thead>
 <tr>
  <th> # </th>
  <th> Name </th>
  <th> Mime </th>
  <th> Ctime </th>
  <th> Size </th>
  <th> MD5 </th>
 </tr>
</thead>
<tbody>
{% for object in object_list %}
 <tr>
  <td> {{ object.pk }} </td>
  <td>
   <a href="{% url core.views.file_get object.pk %}">
   {{ object.name }}
   </a>
  </td>
  <td> {{ object.mime }} </td>
  <td> {{ object.ctime }} </td>
  <td> {{ object.size }} </td>
  <td> {{ object.md5 }} </td>
 </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
