{% load gw_extras %}
{% if tags %}
<h4>Список тэгов</h4>
<table>
{% for tag in tags %}
        <tr>
    <td colspan="2">{{ tag.type }} : </td>
        </tr>
        <tr>
            <td>Значение: </td>
            <td>
            <b>
                {% ifequal tag.type.type_class "bool" %}
                    {% if tag.tag.value %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                {% else %}
                    {% if tag.tag.value %}
                                        {% ifequal tag.type.type_class 'date' %}
                {{ tag.tag.value|date:"d.m.Y" }}
                {% else %}
                        {% ifequal tag.type.type_class 'object' %}
                            {% autoescape off %}
                          {{ tag.type.options|get_obj_link:tag.tag.value }}
                            {% endautoescape %}
                        {% else %}
                {{ tag.tag.value }}
                {% endifequal %}
                                        {% endifequal %}
                    {% else %}
                        Нет значения
                    {% endif %}
                {% endifequal %}
            </b>
            </td>
            </tr>
{% endfor %}
</table>
    <input type='button' value='Редактировать' onclick="window.location='{% url gw.tagged.views.to_edit  item.id %}'" id="set_tags">
{% else %}
{% if not ttypes %}
    Тэги не установлены
    <input type='button' value='Установить' onclick="window.location='{% url gw.tagged.views.to_view  item.id %}'" id="set_tags">
{% endif %}
{% endif %}
{% if ttypes %}
    {% if context.path == 'gw' %}
    <script type="text/javascript" src="{% url views.index %}static/js/jquery-1.4.2.min.js"></script>
        {% endif %}
        Тэггировать как
    {{ ttypes }}
    <input type='button' value='Сохранить' onclick="window.location='{% url gw.tagged.views.to_add %}{{ item.id }}/'+$('#id_type').val()">
{% endif %}
