{% extends "gw/tagged/base.html" %}
{% block title %} LanSite/GW/ {% endblock %}
{% block topbar %} Поиск по тэгам {% endblock %}

{% block body_main %}

    <script>

            function changeControl(){
            if($('#tagtype').val()!='---'){
                $('#newdiv').load('{% url gw.views.index %}to/getinput/'+$('#tagtype').val(),function(){
                    $('#newdiv *').attr('id','newvalue')
                $('#newvalue[class="date"]').datepicker({dateFormat: 'dd.mm.yy', changeMonth: true,}).datepicker($.datepicker.regional['ru']);
                })
            }

        }
    function addTag(){
//        alert($('#tagtype').val()+','+$('#newvalue').val())
//        $.post("","["+tagsarr+"]",function(data){
//                alert(data)
{#                location='{% url gw.tagged.views.to_view to.object.id %}'#}
//            },function(){
//            alert('Error!')
//        }
        var type=$("#tagtype").val()
        var value = $("#newvalue").val()
        var type_name = $('option[value="'+type+'"]').html()
        var tag_name = $('option[value="'+value+'"]').html()
        if(tag_name==null){

            var tag_name = $('#newvalue').val()

        }
        var delbutton='<input type="button" value="X" class="del" >'
        $('#crit').append('<li type="'+type+'" value="'+value+'">'+type_name+' - '+tag_name+delbutton+'</li>')
        $('.del').click(function(){
$(this).parent().remove()
        })
        $('#newvalue').val('')
        $('#tagtype').val('')
    }
    function doSearch(){
        var crln = $('#crit > li').length
        if(crln>0){
            crits=[]
            $("#crit > li").each(function(i,obj){
//                alert($(obj).html())
                crits.push('{"type":"'+$(obj).attr('type')+'","value":"'+$(obj).attr('value')+'"}')
            })
//            alert(crits)
            $.post(".","["+crits+"]",function(data){
//                alert(data)
{#                location='{% url gw.tagged.views.to_view to.object.id %}'#}
                $('#result').html(data)
            },function(){
            alert('Error!')
        })
        }
        else
        {
            alert('Добавьте критерий')
        }

    }
$(function(){
    $('#id_type').change(function(){
//        alert($('#id_type').val())
        $('#tagtype').val('--------')
        $('#tagtype option[type!="'+$('#id_type').val()+'"]').attr('disabled','disabled')
        $('#tagtype option[type="'+$('#id_type').val()+'"]').removeAttr('disabled')
    })
})
    </script>

{#<h3>Поиск по тэгам</h3>#}


          <h4>Новый тэг для поиска</h4>
    {{ toform }}
        {% if tags_all %}
        <form action="newtag" method="post">
<select onChange="changeControl()" id="tagtype">
    <option>--------</option>
{% for tag in tags_all %}
  <option value="{{ tag.id }}" type="{{ tag.tot.id }}" {% if tag.required %}req="true"> * {% else %}>{% endif %}{{ tag }}</option>
{% endfor %}
</select>

{#        <label for="newvalue">Значение</label>#}
        <div id="newdiv">
        </div>
            <input type="button" value="Добавить" onclick="addTag()"/>
        </form>
            {% else %}
            Нет подходящих тэгов.
            <input type="button" value="Добавить" onclick="window.location='{% url gw.tagged.views.to_tagtype_add %}'"/>
            {% endif %}

    <h4>Критерии</h4>
    <ul id='crit'>
    </ul>
    <br>
    <input type="button" value="Поиск" onclick="doSearch()"/>
    <br>
    <div id='result'>

    </div>
{% endblock %}
