{% extends "sro2/main.html" %}

{% block contentheader %}
    Редактирование СРО {{ sro.sro }}
{% endblock %}

{% block content %}

    <style type="text/css">
    input[type="text"] {
        width: 600px;
    }
    select {
        width: 600px;
    }
    </style>
    
    <form action="{{ url_for('sro2.views.sro_edit', sro.id) }}" method="POST">
    <table>
        {{ sform }}
        {{ soform }}
    </table>
        </form>
    <a href='{{ url_for("sro2.views.sro_view", sro.id) }}'><div class="ui-state-default ui-corner-all button eb" >Назад</div></a>
    <div class="ui-state-default ui-corner-all button eb" onClick='$("form").submit()' >Сохранить</div>
{% endblock %}