{% load sro2_extras %}
<thead>
<tr>
    <th><input type="checkbox" name="maincheck" id="maincheck"/><span style='display: none'>!!!</span></th>
    <th><font style="font-size: 8pt">Реестр.&nbsp;№</font> </th>
    <th>Название</th>
    <th>Статус</th>
    <th>ОКАТО</th>
    <th>Страхователь</th>
    <th><font style="font-size: 8pt">На&nbsp;сайте</font> </th>
    {% if orgsro.org|chkuser:user and perms.sro2.delete_orgsro %}
        <th><font style="font-size: 8pt">Удалить</font> </th>
    {% endif %}
</tr>
</thead>
<tbody>
{% if list %}
    {% for orgsro in list %}
        <tr letter='{{ orgsro.org.name|first }}'>
            <td>
                <input type="checkbox" name="numbers[]" class="mc" value="{{ orgsro.org.id}}"/><span
                    style='display: none'>!!!</span>
            </td>
            <td>
                <a href="{% url sro2.views.orgsro_view orgsro.id %}" title="{{ orgsro.org.fullname }}" target="_blank">
                    <div class='cell'>{{ orgsro.regno|slice:"5:" }}</div>
                </a>
            </td>
            <td>
                <a href="{% url sro2.views.orgsro_view orgsro.id %}" title="{{ orgsro.org.fullname }}" target="_blank">
                    <div class='cell'>{{ orgsro.org.name }}</div>
                </a>
            </td>
            <td>
                {% autoescape off %}{{ orgsro.status|getstatus:"none" }}{% endautoescape %}
            </td>
            <td>
                <a href="{% url sro2.views.orgsro_view orgsro.id %}" title="{{ orgsro.org.fullname }}" target="_blank">
                    <div class='cell'>{% if orgsro.org.okato %}{{ orgsro.org.okato.name }}{% endif %}</div>
                </a>
            </td>
            <td>
                <a href="{% url sro2.views.orgsro_view orgsro.id %}" title="{{ orgsro.org.fullname }}" target="_blank">
                    <div class='cell'>{% for ins in orgsro.orginsurance_set.all %}{% if not forloop.counter0 %}{{ ins.insurer}}{% endif %}{% endfor %}</div>
                </a>
            </td>
            <td>
                <a href="{% url sro2.views.orgsro_view orgsro.id %}" title="{{ orgsro.org.fullname }}" target="_blank">
                    {% if orgsro.publish %}
                        <div class='cell'>
                            <img src='{% url views.index %}static/tick_icon.gif' style='height: 12px;'>
                            <span style="display: none;">True</span>
                        </div>
                    {% endif %}
                </a>
            </td>
            <td>
                {% if orgsro.org|chkuser:user and perms.sro2.delete_orgsro %}
                    <button title="Удалить" onClick="confirmDelete('{% url sro2.views.orgsro_del orgsro.id %}')">
                        Удалить
                    </button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}
</tbody>
