{% extends "auto_form.html" %}
<!-- customization fields -->
{% load kwacros %}
{% loadkwacros "fieldwrap.html" %}
<!-- EO customization fields -->
{% block body_main %}
	<H1> Форма ПД-4 </H1>
	<form id="myForm" action="." method="post">
		{% csrf_token %}
		{% if user.is_authenticated %}
			{% include "button_save.html" %}
		{% endif %}
		{% include "button_view.html" %}
		{% include "button_print.html" %}
		{% include "button_reset.html" %}
		<a href={{ cancel_url }}> {% include "button_cancel.html" %} </a>
		Примеры:
		<button type="button" onClick="populateForm('myForm', 'ip')"> ИП </button>
		<button type="button" onClick="populateForm('myForm', 'ltd')"> ООО </button>
		<!--table border="1">
			{# form.as_table #}
		</table-->
		{# form.fields.name.as_divs #}
		{% usekwacro fieldwrap form.name %}
		<fieldset class="myclass">
			<legend> Получатель </legend>
			<div class="list">
				{% usekwacro fieldwrap form.recipient required %}
				{% usekwacro fieldwrap form.recishort %}
				{% usekwacro fieldwrap form.inn %}
				{% usekwacro fieldwrap form.kpp %}
				{% usekwacro fieldwrap form.okato %}
				{% usekwacro fieldwrap form.account %}
				{% usekwacro fieldwrap form.bank %}
				{% usekwacro fieldwrap form.bik %}
				{% usekwacro fieldwrap form.ks %}
			</div>
		</fieldset>
		<fieldset>
			<legend> Плательщик </legend>
			<div class="list">
				{% usekwacro fieldwrap form.payer_fio %}
				{% usekwacro fieldwrap form.payer_address %}
				{% usekwacro fieldwrap form.payer_inn %}
			</div>
		</fieldset>
		<fieldset>
			<legend> Платеж </legend>
			<div class="table">
				{% usekwacro fieldwrap form.kbk %}
				{% usekwacro fieldwrap form.details %}
			</div>
			<div class="table">
				{% usekwacro fieldwrap form.total %}
				{% usekwacro fieldwrap form.date %}
			</div>
		</fieldset>
	</form>
	<script type="text/javascript">
		var json = {
			'ip': {
				'id_recipient':	'МИ ФНС РФ №11 по Санкт-Петербургу',
				'id_recishort':	'УФК МФ РФ по СПб',
				'id_inn':	'7842000011',
				'id_kpp':	'784201001',
				'id_okato':	'40298564000',
				'id_account':	'40101810200000010001',
				'id_bank':	'ГРКЦ ГУ Банка России по Санкт-Петербургу',
				'id_bik':	'044030001',
				'id_kbk':	'18210807010011000110',
				'id_details':	'за государственную регистрацию физ.лиц, ИП',
			},
			'ltd': {
			},
		};
	</script>
{% endblock %}
