#sddm			/* common for all */
	{
		margin: 0;
		padding: 0;
		z-index: 30;
		background: lightgrey;
		color: black;
		text-align: center;
		text-decoration: none;
	}

#sddm li		/* common for menu/items */
	{
		display: block;
		list-style: none;
		float: left;
		width: auto;
		margin: 0 1px 0 0;
		padding: 5px 0px;
		background: lightgrey;
	}

#sddm li a		/* menu item */
	{
		color: black;
		background: lightgrey;
		text-decoration: none;
		padding: 5px;
	}

#sddm li a:hover	/* highlighted menu item */
	{
		background: grey;
	}
#sddm div		/* common for submenu/subitems */
	{
		position: absolute;
		visibility: hidden;
		margin: 0;
		padding: 0;
		border: 1px solid black
	}
#sddm div a		/* dropped down submenu */
	{
		position: relative;
		display: block;
		margin: 0;
		padding: 5px 5px;
		width: auto;
		white-space: nowrap;
		text-align: left;
	}
#sddm div a:hover	/* highlighted subitem */
	{
		background: grey;
	}
