{% extends "sro2/stagelist/stagelist_base.html" %}
{#{% load sro2_extras %}#}

{% block stages %}
    <script langauge="JavaScript" type="text/javascript">
        function doMenu(item) {
            obj = document.getElementById(item);
            col = document.getElementById("x" + item);
            if (obj.style.display == "none") {
                obj.style.display = "block";
                col.innerHTML = "&#9660;";
            }
            else {
                obj.style.display = "none";
                col.innerHTML = "&#9654;";
            }
        }
    </script>
    <style>
        p {
            margin: 2px !important;
        }
    </style>
    <div id='controls'>
        <div style='float: right; margin-top: 1px;'>
            <a href="{{ url_for('sro2.views.stagelist_view', stagelist.id, 0, danger) }}">
                 <div class='button ui-state-default eb allb ui-corner-left {% if not full %}ui-self-active{% endif %} hardfix'>
                     Краткое
                 </div>
             </a>
             <a href="{{ url_for('sro2.views.stagelist_view', stagelist.id, 1, danger) }}">
                 <div class='button ui-state-default eb yb ui-corner-right {% if full %}ui-self-active{% endif %}'>
                     Полное
                 </div>
             </a>

        </div>

        <div id='print'>
            Печать:
            <a title="Напечатать перечень видов работ в HTML" href="{{ url_for('sro2.views.stagelist_html', stagelist.id) }}">
                <div class='button ui-state-default eb allb ui-corner-left'> HTML</div>
            </a>

            {% if stagelist.isperm() %} <!-- permit -->
                {% if stagelist.orgsro.status == 2 %}
                    <a title="Напечатать разрешение (PDF)" href="{{ url_for('sro2.views.permit_pdf', stagelist.id) }}">
                        <div class='button ui-state-default eb allb ui-corner-right'> PDF</div>
                    </a>
                {% else %}
                    <div
                         class='ui-state-default eb ui-corner-right button-disabled'
                         title="Организация не является членом СРО!">
                        PDF
                    </div>
                {% endif %}
            {% else %}
                {% if stagelist.orgsro.status == 2 %}
                    <a title="Напечать приложение к заявлению"
                    href="{{ url_for('sro2.views.statement_attachment_pdf', stagelist.id) }}">
                        <div class='button ui-state-default eb allb ui-corner-right'> Напечатать приложение</div>
                    </a>
                {% else %}
                    <div
                         class='ui-state-default eb ui-corner-right button-disabled'
                         title="Организация не является членом СРО!">
                        Напечатать приложение
                    </div>
                {% endif %}
            {% endif %}

            {% if canedit_orgsro  and user.has_perm('sro2.add_stagelist') %}
                <form action="{{ url_for('sro2.views.stagelist_dup', stagelist.id) }}" method="POST" name="form1"
                      style='display: inline; margin-left: 12px;'>
                    <select name="type_id" id="type_id">
                        <option value="statement">1: Заявление</option>
                        <option value="permit">2: Свидетельство</option>
                    </select>
                    <input type="submit" value="Дубль" title="Создать из этого документа Заявление или Свидетельство"/>
                </form>
            {% endif %}
        </div>
        <div id='stages'>
            {% for item, child in itemlist.iteritems() %}
                <p>
                    <tt>
{#                        {% if child.paused %} {{ child.paused|date }} {% else %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                            &nbsp;&nbsp;&nbsp;&nbsp; {% endif %}#}
                        {% if child.children %} <a href="JavaScript:doMenu('{{ item.id }}');" id=x{{ item.id }}>
                            &#9654;</a> {% else %} &nbsp; {% endif %}
                    </tt>{% if child.children %} <a href="JavaScript:doMenu('{{ item.id }}');"
                                                    id=x{{ item.id }}>{% endif %}
                    {{ item.code }}. {{ item.name }}
                    {% if child.children %}</a> {% endif %}
                </p>
                {% if child.children %}
                    <div id={{ item.id }} style="display:none">
                    {% for i, c in child.children.iteritems() %}
                        <p>
                            <tt>
{#                                {% if c.paused %} {{ c.paused|date }} {% else %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                                    &nbsp;&nbsp;&nbsp;&nbsp; {% endif %}#}
                                &nbsp;
                                {% if c.children %} <a href="JavaScript:doMenu('{{ i.id }}');" id=x{{ i.id }}>
                                    &#9654;</a> {% else %} &nbsp; {% endif %}
                            </tt>
                            {% if c.children %} <a href="JavaScript:doMenu('{{ item.id }}');"
                                                   id=x{{ item.id }}>{% endif %}
                            {{ i.code }}. {{ i.name }}
                            {% if c.children %}</a> {% endif %}
                        </p>
                        {% if c.children %}
                            <div id={{ i.id }} style="display:none">
                            {% for x, y in c.children.iteritems() %}
                                <p>
                                    <tt>
{#                                        {% if y.paused %} {{ y.paused|date }} {% else %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endif %}#}
                                        &nbsp; &nbsp; &nbsp;
                                    </tt>
                                    {{ x.code }}. {{ x.name }}
                                </p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
    <p> Итого:
        {% if not danger == 1 %}
            {{ stagelist.permitstage_set.count_ordinar() }}
        {% else %}
            {{ stagelist.permitstage_set.count_danger() }}
        {% endif %}
    </p>
    <br>

    {% if stagelist.isperm() %}
        </div>
    {% endif %}
    </div>
{% endblock %}
