{% load static %}
{# load adminmedia #}
{% get_static_prefix as STATIC_URL %}
{# / #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	{% block meta %} {% endblock %}
	<title> Das Ist {% block title %} ... {% endblock %} </title>
	<link type="text/css" href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
	<link type="text/css" href="{{ STATIC_URL }}css/colors.css" rel="stylesheet"/>
	<link type="text/css" href="{{ STATIC_URL }}css/fieldset.css" rel="stylesheet"/>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<!-- admin -->
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/thumbnails.css" />
	<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
	<!--script type="text/javascript" src="/admin/jsi18n/"></script-->
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<!-- /admin -->
	{% block js %}
	{% endblock %}
	<style>
	{% block css %}
	{% endblock %}
	</style>
</head>
<body>
<div id="topmenu">
	<div id="tm_index" class=""> <a href="{% url bills.views.bill_list %}"> <img src="{{ STATIC_URL }}img/icon-home.png" alt="Главная" title="Главная"/> </a> </div>
	<div style="width: 100%"> <b> Das Ist {% block menu_title %} ... {% endblock %} </b> </div>
	{% if user.is_authenticated %}
		<div> {{ user.username }} : </div>
		<div> <a href="{% url django.contrib.auth.views.logout %}?next={% url views.index %}"> <img src="{{ STATIC_URL }}img/icon-exit.png" alt="Выход" title="Выход"/> </a> </div>
		{% if user.is_superuser %}
			<div id="tm_admin"> <a href="{% url admin:index %}"> <img src="{{ STATIC_URL }}img/icon-settingsthree-gears.png" alt="Админка" title="Админка"/> </a> </div>
		{% endif %}
	{% else %}
		<div id="tm_login"> <a href="{% url django.contrib.auth.views.login %}?next={% url views.index %}" rel="nofollow"> <img src="{{ STATIC_URL }}img/icon-enter.png" alt="Вход" title="Вход"/> </a> </div>
	{% endif %}
	<div id="tm_about"> <a href="{% url views.about %}"> <img src="{{ STATIC_URL }}img/icon-info-sign.png" alt="О программе" title="О программе"/> </a> </div>
</div>
	<div>
	{% block body_main %}
		<p> Заглушка </p>
	{% endblock %}
	</div>
</body>
</html>
