{% extends "gw/task/task_base.html" %}
{% block head_css %}
	<link type="text/css" href="{% url views.index %}static/css/toolbox.css" rel="stylesheet"/>
{% endblock %}
{% block head_js %}
	<script type="text/javascript" src="{% url views.index %}static/js/toolbox.js"> </script>
{% endblock %}
{% block body_main %}
<table class="itemlist">
	<caption> {% with data.title as pd %} {% include "gw/pulldown.html" %} {% endwith %} : {{ item_list.count }} </caption>
	<thead>
		<tr>
			<th> <input type="checkbox"/> </th>
			<th> # </th>
			{% for i in data.head %}
				<th> {% with i as pd %} {% include "gw/pulldown.html" %} {% endwith %} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for item in item_list %}
			<tr class="{% cycle 'even' 'odd' %}">
				<td> <input type="checkbox"/> </td>
				<td> {{ forloop.counter }} </td>
				<td> {{ item.getclassname }} </td>
				<td> {{ item.user }} </td>
				<td> <a href="{% url gw.views.task_detail item.id %}" title="{{ item.description }}"> {{ item.summary }} </a> </td>
				<td> {% if item.status %} {{ item.status }} {% endif %} </td>
				<td> {% if item.restriction %} {{ item.restriction }} {% endif %} </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
