{% extends "sro2/protocol_base.html" %}
{% load sro2_extras %}

{% block body_main_button %}
    {% if perms.sro2.change_protocol %}
        <a class="button" href="{% url sro2.views.protocol_main protocol.id%}"> Изменить </a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;
    {% if perms.sro2.delete_protocol and protocol.permit_set.count == 0 %}
        <input type="button" title="Удалить" value="Удалить"
               onClick="confirmDelete('{% url sro2.views.protocol_del protocol.id %}')"/>
    {% endif %}
{% endblock %}
{% block permits %}
    <h1> Свидетельства: </h1>
    <table>
        {% for p in protocol.permit_set.all %}
            <tr>
                <td> {{ p.stagelist.orgsro.org.name }} </td>
                <td><a href="{% url sro2.views.stagelist_view p.stagelist.id %}"> № {{ p.no }} от {{ p.date|date }} </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
