{% extends "bills/base.html" %}
{% block body_main %}
 <form action="" method="POST">
  {% csrf_token %}
  <table border="1">
   <caption> Редактировать счет </caption>
   <tbody>
	<tr> <th> # </th> <td> {{ object.pk }} </td> </tr>
	<tr> <th> Объект </th> <td> {{ object.place }} </td> </tr>
	<tr> <th> ПодОбъект </th> <td> {{ object.subject|default:"---" }} </td> </tr>
	<tr> <th> Направление </th> <td> {{ object.depart|default:"---" }} </td> </tr>
	<tr> <th> Плательщик </th> <td> {{ object.payer|default:"---" }} </td> </tr>
	<tr> <th> Поставщик </th> <td> {{ object.supplier }} </td> </tr>
	<tr> <th> Счет </th> <td> № {{ object.billno }} от {{ object.billdate|date:"d/m/y" }} </td> </tr>
	<tr> <th> Сумма счета </th> <td> {{ object.billsum }} </td> </tr>
	<tr> <th> Оплачено </th> <td> {{ object.payedsum }} </td> </tr>
	<tr>
	 <td> Оригинал: </td>
	 <td> <ol style="margin: 0">
	  {% for img in object.fileseq.fileseqitem_set.all %}
	   <li>
	    <a href="{% url core.views.file_get img.pk %}" data-lightbox="roadtrip" title="{{ img.file.name }}">{{ img.file.name }}</a>
	    <!--a href="#" onClick="window.open('{% url core.views.file_get img.pk %}', '_blank', 'toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width=500, height=500');return(false)"> <img src="{{ STATIC_URL }}img/16/png.png" title="{{ img.file.name }}"/> </a-->
	    <a href="{% url core.views.file_get img.pk %}"> <img src="{{ STATIC_URL }}img/16/png.png" title="Download"/> </a>
	   </li>
	  {% endfor %}
	 </ol> </td>
	</tr>
	{{ form.as_table }}
   <tbody>
  </table>
  <button type="submit"> Записать </button>
  <a href="{% url bills.views.bill_view object.pk %}"> <button type="button"> Отказаться </button> </a>
 </form>
{% endblock %}
