{# L1 menu / #}
<ul class="l1">
	<li id="menu_core">	<a href="{% url apps.core.views.index %}"> Groupware </a> </li>
	<li id="menu_contact">	<a href="{% url apps.contact.views.index %}"> Справочники </a> </li>
	<li id="menu_task">	<a href="{% url apps.task.views.index %}"> Справочники </a> </li>
	<li id="menu_file">	<a href="{% url apps.file.views.index %}"> Справочники </a> </li>
	<li id="menu_tagged">	<a href="{% url apps.tagged.views.index %}"> Справочники </a> </li>
	<li id="menu_ref">	<a href="{% url apps.ref.views.index %}"> Справочники </a> </li>
	<li id="menu_service">	<a href="{% url views.service %}"> Сервис </a> </li>
	<li id="menu_about">	<a href="{% url views.about %}"> О программе </a> </li>
</ul>
