{% extends "core/fileseq_base.html" %}
{% block body_main %}
{{ form.media }}
<table border="0">
{% for img in object.list_items %}
 <tr>
	<td> {{ img.order }} <a href="{% url 'file_view' img.file.pk %}"> {{ img.file.name }} </a> </td>
	<td> <a href="{% url 'fileseqitem_del' img.pk %}"> {% include "svgbutton/delete.html" %} </a> </td>
	<td>
		{% if not img.is_first %} <a href="{% url 'fileseqitem_move_up' img.file.pk %}"> {% include "svgbutton/move-up.html" %} </a> <br/> {% endif %}
		{% if not img.is_last %} <a href="{% url 'fileseqitem_move_down' img.file.pk %}"> {% include "svgbutton/move-down.html" %} </a> {% endif %}
	</td>
 </tr>
{% endfor %}
</table>
<form enctype="multipart/form-data" action="{% url 'fileseq_add_file' object.pk %}" method="POST">
	{% csrf_token %}
	<table border="0"> <tr>
	<td> {{ form.as_p }} </td>
	<td> <button type="submit" class="plain"> {% include "svgbutton/upload.html" %} </button> </td>
	</tr> </table>
</form>
<a href="{% url 'fileseq_del' object.pk %}"> {% include "svgbutton/delete.html" %} </a>
{% endblock %}
