{% extends "core/file_base.html" %}
{% block body_main %}
{% include "paginator.html" %}
<table width="auto" border="1">
<thead>
 <tr>
  <th> # </th>
  <th> Name </th>
  <th> Ctime </th>
  <th> Size </th>
  <th> Seq </th>
 </tr>
</thead>
<tbody>
{% for object in object_list %}
 <tr>
  <td> {{ object.pk }} </td>
  <td> <a href="{% url 'file_view' object.pk %}"> {{ object.name }} </a> </td>
  <td> {{ object.ctime|date:"y.m.d H:i:d" }} </td>
  <td> {{ object.size }} </td>
  <td> {% if object.fileseqitem %} <a href="{% url 'fileseq_view' object.fileseqitem.fileseq.pk %}"> {{ object.fileseqitem.fileseq.pk }} </a> {% else %} - {% endif %} </td>
 </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
