{% extends "eav/base.html" %}
{% block body_main %}

    <script>
    function objSel(){
        if($('#tag #id_type').val()==4){
//        alert($('#id_type').html())
            $('#id_options').replaceWith($('#cform select').attr('name','options').attr('id','id_options'))
            $('label[for="id_options"]').html('Тип объекта')
        }
    }

    </script>

    <div style='display: none'>
    <div id="cform">
        {{ cform }}
    </div>

    </div>

    <h3>Существующие типы</h3>
    <div style="height: 300px; overflow: scroll;">
    <ul>
    {% for type in types %}
        <li>{{ type.tot }} -- {{ type }} <a href="{% url apps.eav.views.attribute_del type.id %}"> <button> x </button> </a> </li>
    {% endfor %}
    </ul></div>
    <hr>
    <h3>Новый тип Entity</h3>
        <form action="{% url apps.eav.views.entitytype_add %}" method="post">
    <table>
    {{ oform.as_table }}
</table>
        <input type="submit" value="Добавить"/>
    </form>
    <hr>
    <h3>Новый атрибут</h3>
    <form action="{% url apps.eav.views.attribute_add %}" method="post">
    <table id="tag">
    {{ form.as_table }}
</table>
        <input type="submit" value="Добавить"/>
    </form>
        <h4>Инструкция</h4>
    <div style="background: #ccc; padding: 6px;">
    По добовлению тэгов
    </div>

{% endblock %}
