<!-- Person.Stuff -->
{% extends "contact/base.html" %}
{% block title %} Работы {% endblock %}
{% block body_main %}
<p> Новый Персонал </p>
<form action=".{% if next %}?next={{ next }}{% endif %}" method="post">
	<table>
		<tr>
			<th> Организация </th>
			<td> <div class="fieldWrapper"> {{ form.org.errors }} {{ form.org }} </div> </td>
			<td> <a title="Новая организация" href="{% url apps.contact.views.org_add %}"> <button> + </button> </a> </td>
		</tr>
		<tr>
			<th> Должность </th>
			<td> <div class="fieldWrapper"> {{ form.role.errors }} {{ form.role }} </div> </td>
			<td> <a title="Новая должность" href="{% url apps.contact.views.jobrole_add %}"> <button> + </button> </a> </td>
		</tr>
	</table>
	<button type="submit"> Записать </button>
	<a href="{{ object.get_absolute_url }}"> <button> Отказаться </button> </a>
</form>
{% endblock %}
