<!-- Person -->
{% extends "gw/contact/person_base.html" %}
{% block body_main %}
<div class="bordered color-bd-dark">
	<table class="itemlist">
		<caption>
			Организации ({{ item_list.count }}):
			<input type="button" value="+" title="Добавить нового Человека" onClick="window.location.href='{% url gw.views.person_add %}'" style="cursor:pointer"/>
			<input type="submit" value="x" title="Удалить выделенное" onClick="return confirm('Are you sure you want to delete selected items?');" style="cursor:pointer"/>
		</caption>
	<tr> <th/> <th> Фамилия </th> <th> Имя </th> <th> Отчество </th> </tr>
	{% for item in item_list %}
		<tr bgcolor={% cycle 'lightcyan' 'white' %}>
			<td> <input type="checkbox"/> </td>
			<td> <a href="{% url gw.views.contact_detail item.id %}"> {{ item.lastname }} </a> </td>
			<td> <a href="{% url gw.views.contact_detail item.id %}"> {{ item.firstname }} </a> </td>
			<td> <a href="{% url gw.views.contact_detail item.id %}"> {{ item.midname }} </a> </td>
		</tr>
	{% endfor %}
	<table>
</div>
{% endblock %}
