{% extends "task/todocat_base.html" %}
{% block body_main %}
<p>
	Категория: {{ object.name }}
	<a class="button" title="Изменить" href="{% url apps.task.views.todocat_edit object.id %}"> &#9997; </a>
	<a class="button" title="Удалить" href="{% url apps.task.views.todocat_del object.id %}"> &#9760; </a>
</p>
<hr/>
<p> Задачи: <a class="button" title="Добавить задачу" href="{% url apps.task.views.todocat_add_todo object.id %}"> &nbsp; + &nbsp; </a> </p>
<table border="1" cellspacing="0">
	<tr> <th> # </th> <th> Тема </th> <th> Создано </th> <th> Срок </th> <th> Состояние </th> <th/> </tr>
	{% for i in object.todo_set.all %}
		<tr>
			<td> {{ forloop.counter }} </td>
			<td> <a href="{% url apps.task.views.todo_view i.id %}" title="{{ object.description }}"> {{ i.subject }} </a> </td>
			<td> {{ i.created|date }} </td>
			<td> {% if i.deadline %} {{ i.deadline }} {% endif %} </td>
			<td align="center"> {%if i.done %} &radic; {% endif %} </td>
			<td>
				<a class="button" title="Изменить" href="{% url apps.task.views.todo_edit i.id %}"> &nbsp; E &nbsp; </a>
				<a class="button" title="Удалить" href="{% url apps.task.views.todo_del i.id %}"> &nbsp; X &nbsp; </a>
				{% if not i.done %} <a class="button" title="Завершить" href="{% url apps.task.views.todo_done i.id %}"> &nbsp; &radic; &nbsp; </a> {% endif %}
			</td>
		</tr>
		</a>
	{% endfor %}
</table>
{% endblock %}
