{% extends "task/todo_base.html" %}
{% block head_css %}
	<link type="text/css" href="{{ STATIC_URL }}css/toolbox.css" rel="stylesheet"/>
{% endblock %}
{% block head_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/toolbox.js"> </script>
{% endblock %}
{% block body_main %}
<table class="tabbed">
	<tr>
		<td class="tabactive"> Категории </td>
		<td class="tabinactive"> <a href="{% url apps.task.views.todo_list %}"> Задачи </a> </td>
	</tr>
</table>
<table class="itemlist">
	<caption> {% with data.title as pd %} {% include "pulldown.html" %} {% endwith %} : {{ object_list.count }} </caption>
	<thead>
		<tr>
			<th> <input type="checkbox"/> </th>
			<th> {% with data.head as pd %} {% include "pulldown.html" %} {% endwith %} </th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
			<tr class="{% cycle 'even' 'odd' %}">
				<td> <input type="checkbox"/> </td>
				<td> <a href="{% url apps.task.views.todocat_view object.id %}"> {{ object.name }} </a> </td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
