{% extends "task/task_base.html" %}
{% block head_css %}
	<link type="text/css" href="{{ STATIC_URL }}css/toolbox.css" rel="stylesheet"/>
{% endblock %}
{% block head_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/toolbox.js"> </script>
{% endblock %}
{% block body_main %}
<table class="itemlist">
	<caption> {% with data.title as pd %} {% include "gw/pulldown.html" %} {% endwith %} : {{ object_list.count }} </caption>
	<thead>
		<tr>
			<th> <input type="checkbox"/> </th>
			<th> # </th>
			{% for i in data.head %}
				<th> {% with i as pd %} {% include "gw/pulldown.html" %} {% endwith %} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
			<tr class="{% cycle 'even' 'odd' %}">
				<td> <input type="checkbox"/> </td>
				<td> {{ forloop.counter }} </td>
				<td> {{ object.getclassname }} </td>
				<td> {{ object.user }} </td>
				<td> <a href="{% url apps.task.views.task_detail object.id %}" title="{{ object.description }}"> {{ object.summary }} </a> </td>
				<td> {% if object.status %} {{ object.status }} {% endif %} </td>
				<td> {% if object.restriction %} {{ object.restriction }} {% endif %} </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
