{% extends "task/todo_base.html" %}
{% block onload_js %} {{ block.super }} setmenu("menu_task_todo_perms"); {% endblock %}
{% block body_main %}
<!-- Permissions -->
<table border="1">
	<thead>
		<tr>
			<th> Groups: </th>
			<th> Users: </th>
		</tr>
	</thead>
	<tbody>
		<tr> <td>
			<table style="border: 2px solid #A0A0FF; padding: 0; margin: 0;">
				<thead>
				<!-- add new -->
				<form action="{% url apps.task.views.todo_perm_setg object.id %}" method="post">
					<tr>
						<td> <button type="submit"> + </button> </td>
						<td> {{ form_group.as_p }} </td>
						<td> <input type="checkbox"/> </td>
						<td> <input type="checkbox"/> </td>
						<td> <input type="checkbox"/> </td>
						<td> <input type="checkbox"/> </td>
						<td> <input type="checkbox"/> </td>
					</tr>
				</form>
				<!-- head -->
					<tr>
						<th> <input type="checkbox"/> </th>
						<th> <button> X </button> </th>
						<th title="View"> &#10148; </th>
						<th title="Add"> &#10036; </th>
						<th title="Change"> &#9997; </th>
						<th title="Delete"> &#10007; </th>
						<th title="Permissions"> &#9812; </th>
						{# for i in perm_head #} <!--th> {# i #} </th--> {# endfor #}
					</tr>
				</thead>
				<tbody>
					{% for i in perm_list_group %}
						<tr>
							<td> <input type="checkbox"/> </td>
							<th> {{ i.u }} </th>
							{% for p in i.p %}
								{% ifequal p 1 %} <td align="center"> &radic; </td> {% else %} </td> {% endifequal %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</td> <td>
			<table style="border: 2px solid #A0A0FF; padding: 0; margin: 0;">
				<thead>
				<!-- add new -->
				<form action="{% url apps.task.views.todo_perm_setu object.id %}" method="post">
					<tr>
						<td> <button type="submit"> + </button> </td>
						<td> {{ form_user.as_p }} </td>
						<td> <input type="checkbox" name="perm" value="0"/> </td>
						<td> <input type="checkbox" name="perm" value="1"/> </td>
						<td> <input type="checkbox" name="perm" value="2"/> </td>
						<td> <input type="checkbox" name="perm" value="3"/> </td>
						<td> <input type="checkbox" name="perm" value="4"/> </td>
					</tr>
				</form>
				<!-- head -->
				<form action="{% url apps.task.views.todo_perm_delu object.id %}" method="post">
					<tr>
						<th> <input type="checkbox"/> </th>
						<th> <button type="submit" title="Delete selected"> X </button> </th>
						<th title="View"> &#10148; </th>
						<th title="Add"> &#10036; </th>
						<th title="Change"> &#9997; </th>
						<th title="Delete"> &#10007; </th>
						<th title="Permissions"> &#9812; </th>
						{# for i in perm_head #} <!--th> {# i #} </th--> {# endfor #}
					</tr>
				</thead>
				<tbody>
					{% for i in perm_list_user %}
						<tr>
							<td> <input type="checkbox" name="user" value="{{ i.u.pk }}"/> </td>
							<th> {{ i.u }} </th>
							{% for p in i.p %}
								{% if p %} <td align="center"> &radic; </td> {% else %} <td/> {% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
				</form>
			</table>
		</td> <tr>
	</tbody>
</table>
{% endblock %}
