{% extends "core/base.html" %}
{% block body_main %}
<table width="auto" border="1">
 <tbody>
  <tr> <th> # </th> <td> {{ object.pk }} </td> </tr>
  <tr> <th> Name </th> <td> {{ object.name }} </td> </tr>
  <tr> <th> Mime </th> <td> {{ object.mime }} </td> </tr>
  <tr> <th> Ctime </th> <td> {{ object.ctime }} </td> </tr>
  <tr> <th> Size </th> <td> {{ object.size }} </td> </tr>
  <tr> <th> MD5 </th> <td> {{ object.md5 }} </td> </tr>
 </tbody>
</table>
<a href="{% url core.views.file_get object.pk %}"> <button type="button"> Download </button> </a>
<a href="{% url core.views.file_preview object.pk %}"> <button type="button"> Show </button> </a>
{% endblock %}
