<!-- ContactEmail -->
{% extends "contact/base.html" %}
{% block title %} Email {% endblock %}
{% block topbar %} <a href="{% url apps.core.views.email_idx %}"> Email </a> {% endblock %}
{% block body_main %}
<p> Редактирование Email </p>
<form action=".?next={{ next }}" method="post">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Записать"/> </td>
	<a class="button" href="{{ next }}"> Отказаться </a>
</form>
{% if itemlist %}
	<hr/>
	<h2> Контакты: </h2>
	<p> (<a class="button" href="{% url apps.contact.views.email_edt item.email.id %}?next={{ next }}"> Изменить Email для всех </a>) </p>
	{% for i in itemlist %}
		<p> {{ i.contact }} </p>
	{% endfor %}
{% endif %}
{% endblock %}
