<!-- Contacts -->
{% extends "contact/base.html" %}
{% block topmenu %}
	{{ block.super }}
	<ul idref="menu_contact" class="l3">
		<li id="menu_contact_main"> Основное </li>
		<li id="menu_contact_links"> Связи </li>
		<li id="menu_contact_rights"> Права </li>
		<li id="menu_contact_history"> История </li>
		<li id="menu_contact_eav"> EAV </li>
	</ul>
{% endblock %}

{% block body_main %}
<h1> {{ object }} </h1>
{% block body_detail %}
{% endblock %}
<p>
	<a href="{{ object.get_edit_url }}"> <button> Изменить </button> </a>
	<!--a href="{{ object.get_del_url }}"> <button> Удалить </button> </a-->
	<button onClick="confirmDelete('{{ object.get_del_url }}')"> Удалить </button>
	<select>
		<option> Добавить... </option>
		<option> Адрес </option>
		<option> Телефон </option>
		<option> WWW </option>
		<option> Email </option>
		<option> IM </option>
		<option> Персонал </option>
	</select>
</p>
<table border="1">
<!-- Addresses -->
<tr>
	<td rowspan='{{ object.contactaddr_set.all.count|add:"1" }}' valign="top"> <h2> Адреса: </h2> </td>
	<td/>
	<td> <a href="{% url apps.core.views.address_index %}?next={% url apps.contact.views.contact_addr_add object.id %}"> <button title="Добавить"> + </button> </a> </td>
</tr>
{% for i in object.contactaddr_set.all %}
<tr>
	<td bgcolor={% cycle 'lightgrey' 'white' %}> <a title="Подробности" href="{% url apps.core.views.address_detail i.addr.id %}"> {{ i.addr.fullname }} </a> </td>
	<td>
		<a href="{% url apps.core.views.address_detail i.addr.id %}?next={% url apps.contact.views.contact_addr_edit i.id %}"> <button title="Изменить"> E </button> </a>
		<a href="{% url apps.contact.views.contact_addr_del i.id %}"> <button title="Удалить"> X </button> </a>
	</td>
</tr>
{% endfor %}
<!-- Phones -->
<tr>
	<td rowspan='{{ object.contactphone_set.all.count|add:"1" }}' valign="top"> <h2> <a href="{% url apps.core.views.phone_index %}"> Телефоны: </a> </h2> </td>
	<td> <!--input type="text"/--> </td>
	<td> <a href="{% url apps.contact.views.contact_phone_add object.id %}"> <button title="Добавить"> + </button> </a> </td>
</tr>
{% for i in object.contactphone_set.all %}
<tr>
	<td bgcolor={% cycle 'lightgrey' 'white' %}> <a title="Подробности" href="{% url apps.core.views.phone_detail i.phone.id %}"> {{ i.phone }} </a> {% if i.ext %} #{{ i.ext }} {% endif %} </td>
	<td>
		<a href="{% url apps.contact.views.contact_phone_edit i.id %}"> <button title="Изменить"> E </button> </a>
		<a href="{% url apps.contact.views.contact_phone_del i.id %}"> <button title="Удалить"> X </button> </a>
	</td>
</tr>
{% endfor %}
<!-- WWW -->
<tr>
	<td rowspan='{{ object.contactwww_set.all.count|add:"1" }}' valign="top"> <h2> WWW: </h2> </td>
	<td> <!--input type="text"/--> </td>
	<td> <a href="{% url apps.contact.views.contact_www_add object.id %}"> <button title="Добавить"> + </button> </a> </td>
</tr>
{% for i in object.contactwww_set.all %}
<tr>
	<td bgcolor={% cycle 'lightgrey' 'white' %}> <a title="Подробности" href="{% url apps.core.views.www_detail i.www.id %}"> {{ i.www.URL }} </a> <a href="{{ i.www.URL }}"> &#9655; </a> </td>
	<td>
		<a href="{% url apps.contact.views.contact_www_edit i.id %}"> <button title="Изменить"> E </button> </a>
		<a href="{% url apps.contact.views.contact_www_del i.id %}"> <button title="Удалить"> X </button> </a>
	</td>
</tr>
{% endfor %}
<!-- Email -->
<tr>
	<td rowspan='{{ object.contactemail_set.all.count|add:"1" }}' valign="top"> <h2> Email: </h2> </td>
	<td> <!--input type="text"/--> </td>
	<td> <a href="{% url apps.contact.views.contact_email_add object.id %}"> <button title="Добавить"> + </button> </a> </td>
</tr>
{% for i in object.contactemail_set.all %}
<tr>
	<td bgcolor={% cycle 'lightgrey' 'white' %}> <a title="Подробности" href="{% url apps.core.views.email_detail i.email.id %}"> {{ i.email.URL }} </a> <a href="{{ i.email.URL }}"> &#9655; </a> </td>
	<td>
		<a href="{% url apps.contact.views.contact_email_edit i.id %}"> <button title="Изменить"> E </button> </a>
		<a href="{% url apps.contact.views.contact_email_del i.id %}"> <button title="Удалить"> X </button> </a>
	</td>
</tr>
{% endfor %}
<!-- IM -->
<tr>
	<td rowspan='{{ object.contactim_set.all.count|add:"1" }}' valign="top"> <h2> IM: </h2> </td>
	<td> <!--input type="text"/--> </td>
	<td> <a href="{% url apps.contact.views.contact_im_add object.id %}"> <button title="Добавить"> + </button> </a> </td>
</tr>
{% for i in object.contactim_set.all %}
<tr>
	<td bgcolor={% cycle 'lightgrey' 'white' %}> <a title="Подробности" href="{% url apps.core.views.im_detail i.im.id %}"> {{ i.im.type.name }}: {{ i.im.account }} </a> </td>
	<td>
		<a href="{% url apps.contact.views.contact_im_edit i.id %}"> <button title="Изменить"> E </button> </a>
		<a href="{% url apps.contact.views.contact_im_del i.id %}"> <button title="Удалить"> X </button> </a>
	</td>
</tr>
{% endfor %}
{% block body_extra %}
{% endblock %}
</table>
{% endblock %}
