<!-- Jobrole -->
{% extends "contact/jobrole_base.html" %}
{% block body_main %}
<a href="{{ object.get_edit_url }}"> <button> Изменить </button> </a>
<button onClick="confirmDelete('{{ object.get_del_url }}')"> Удалить </button>
<table>
	<tr> <td> Наименование: </td> <td> {{ object.name }} </td> </tr>
	<tr> <td> Комментарии: </td> <td> {{ object.comments }} </td> </tr>
</table>
{% endblock %}
<!-- Stuff FIXME: not shows anything -->
<table border="1">
{% for i in object.orgstuff_set.all %}
<tr>
	<td bgcolor={% cycle 'lightgrey' 'white' %}>
		<a title="Организация" href="{{ i.org.get_absolute_url}}"> {{ i.org }} </a>:
		<a title="Человек" href="{{ i.person.get_absolute_url }}"> {{ i.person }} </a>
	</td>
</tr>
{% endfor %}
</table>