<!-- Person -->
{% extends "contact/contact_detail.html" %}
{% block body_detail %}
	<table>
		<tr> <td> Дата рождения: </td> <td> {% if object.birthdate %} {{ object.birthdate|date }} {% endif %} </td> </tr>
		<tr> <td> Пол: </td> <td> {% if object.sex %} М {% else %} Ж {% endif %} </td> </tr>
	</table>
{% endblock %}
<!-- Org -->
{% block body_extra %}
	<tr>
		<td rowspan='{{ object.orgstuff_set.all.count|add:"1" }}' valign="top"> <h2> Организации: </h2> </td>
		<td> <!--input type="text"/--> </td>
		<td> <a title="Добавить" href="{% url apps.contact.views.person_stuff_add object.id %}"> <button> + </button> </a> </td>
	</tr>
	{% for i in object.orgstuff_set.all %}
	<tr>
		<td bgcolor={% cycle 'lightgrey' 'white' %}> <a title="Подробности" href="{% url apps.contact.views.contact_detail i.org.id %}"> {{ i.org }} </a> : <a title="Подробности" href="{% url apps.contact.views.jobrole_detail i.role.id %}"> {{ i.role }} </a> </td>
		<td>
			<a title="Изменить" href="{% url apps.contact.views.person_stuff_edit i.id %}"><button> E </button></a>
			<a title="Удалить" href="{% url apps.contact.views.person_stuff_del i.id %}"> <button> X </button> </a>
		</td>
	</tr>
	{% endfor %}
{% endblock %}
