{% extends "base.html" %}


{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <blockquote class="pull-right">
        <p>Клиент всегда прав!</p>
        <small>Возможно, народная мудрость</small>
    </blockquote>
    <br><br><br>
    <div class="row">
        <strong>Данные клиента {{ client.get_fio }} обновлены.</strong>
        <br><br><br>
        <a href="{% url clients:clients.views.index %}">Вернуться к списку клиентов</a>
    </div>
{% endblock content %}
