<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Уведомление в ФСС</TITLE>
	<STYLE TYPE="text/css">
		@page { size: 21cm 29.7cm; margin-left: 2cm; margin-right: 1cm; margin-top: 0.7cm; margin-bottom: 1cm }
		BODY {
			font-family: 'Times New Roman', Times, serif;
		}
		p { margin: 0; }
		.pt07 { font-size:  7pt; }
		.pt08 { font-size:  8pt; }
		.pt12 { font-size: 12pt; }
		.pt16 { font-size: 16pt; }
		.l { text-align: left; }
		.c { text-align: center; }
		.r { text-align: right; }
		.j { text-align: justify; }
		table { margin: 0; padding: 0; }
		tr { margin: 0; padding: 0; }
		td { margin: 0; padding: 0; }
		td.u { border-bottom: 1px solid black; }
	</STYLE>
</HEAD>
<BODY LANG="ru-RU">
<P class="pt08 r"> Направлено письмом ФСС РФ <BR/> от 28 декабря 2009 г.№ 02-10/05-13656 </P>
<TABLE WIDTH="100%" BORDER="0">
	<COL WIDTH="30%"/>
	<COL/>
	<TR>
		<TD> <P class="pt12 l"> В территориальный орган Фонда социального страхования Российской Федерации</P> </TD>
		<TD class="u"> <P class="pt12 c"> <B> Санкт–Петербургское региональное отделение ФСС РФ. Филиал № {{ fss_no }} </B> </P> </TD>
	</TR>
	<TR>
		<TD/>
		<TD> <P class="pt07 c"> (наименование территориального органа ФСС РФ по месту регистрации страхователя) </P> </TD>
	</TR>
</TABLE>
<p/>
<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD> <P class="pt12 l">почтовый адрес</P> </TD>
		<TD class="u"> <P class="pt12 c"> <B> 197046, г. Санкт–Петербург, ул. Б. Посадская, дом 10а </B> </P> </TD>
	</TR>
</TABLE>
<P class="pt16 c"> <B>
	Уведомление <BR/>
	плательщика страховых взносов по обязательному социальному страхованию
	на случай временной нетрудоспособности и в связи с материнством
	об {% if opening %} <U> открытии </U> (закрытии) {% else %} открытии (<U> закрытии </U>){% endif %} банковского счета</B>
</P>
<P class="pt12 c"> <I> <B> (направляется не позднее 7 дней со дня открытия/закрытия счета) </B> </I> </P>
	<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD> <P class="pt12 l"> Плательщик </P> </TD>
		<TD class="u"> <P class="pt12 c"> {{oname}} </P> </TD>
	</TR>
	<TR>
		<TD/>
		<TD> <P class="pt07 c">(полное наименование организации/Ф. И. О. индивидуального предпринимателя)</P> </TD>
	</TR>
</TABLE>
<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD class="pt12 l"> <P>ИНН</P> </TD>
		<TD class="u"> <P class="pt12 c">{{oinn}}\{{okpp}}</P> </TD>
		<TD> <P class="pt12 c">ОКАТО</P> </TD>
		<TD class="u"> <P class="pt12 c">{{ookato}}</P> </TD>
		<TD> <P class="pt12 c">Регистрационный номер</P> </TD>
		<TD class="u"> <P class="pt12 c">{{ oogrn }}</P> </TD>
	</TR>
	<TR>
		<TD/>
		<TD> <P class="pt07 c"> (ИНН\код причины постановки на учет) </P> </TD>
		<TD/>
		<TD/>
		<TD/>
		<TD/>
	</TR>
</TABLE>
<P/>

<TABLE BORDER="0">
	<TR> <TD> <P class="pt12"> Сообщает об {% if opening %} <U>открытии</U> (закрытии) {% else %} открытии (<U>закрытии</U>) {% endif %} банковского счета: </P> </TD> </TR>
	<TR> <TD> <P class="pt07 c">(нужное подчеркнуть) </P> </TD> </TR>
</TABLE>
<P/>
<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD> <P class="pt12 l">Банк</P> </TD>
		<TD class="u"> <P class="pt12 c"> {{bname}} </P> </TD>
	</TR>
	<TR>
		<TD/>
		<TD> <P class="pt07 c"> (полное наименование банка) </P> </TD>
	</TR>
</TABLE>
<P/>
<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD> <P class="pt12 l">ИНН</P> </TD>
		<TD class="u"> <P class="pt12 c">{{binn}}</P> </TD>
		<TD> <P class="pt12 c">КПП</P> </TD>
		<TD class="u"> <P class="pt12 c">{{bkpp}}</P> </TD>
		<TD> <P class="pt12 c">ОГРН</P> </TD>
		<TD class="u"> <P class="pt12 c"> {{bogrn}}</P> </TD>
	</TR>
</TABLE>
<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD> <P class="pt12 l">БИК</P> </TD>
		<TD class="u"> <P class="pt12 c">{{bik}}</P> </TD>
		<TD> <P class="pt12 c">Номер счета</P> </TD>
		<TD class="u"> <P class="pt12 c">{{rs}}</P> </TD>
	</TR>
</TABLE>
<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD> <P class="pt12 l">Руководитель организации</P> </TD>
		<TD class="u"> <P class="pt12 c">{{jobrole}}</P> </TD>
		<TD class="u"> <P class="pt12 c">{{boss}}</P> </TD>
		<TD class="u"> <P/> </TD>
	</TR>
	<TR>
		<TD/>
		<TD> <P class="pt07 c"> (должность) </P> </TD>
		<TD> <P class="pt07 c"> (Ф. И. О.) </P> </TD>
		<TD> <P class="pt07 c"> (подпись) </P> </TD>
	</TR>
</TABLE>
<P class="pt12 l"> Дата {% if opening %} <U> открытия </U> (закрытия) {% else %} открытия (<U>закрытия</U>) {% endif %} счета <U>« {{d0}} » {{ m0}} 20 {{y0}} г. </U> </P>
<TABLE WIDTH="100%" BORDER="0">
	<TR>
		<TD> <P class="pt12 l">Ф. И. О. индивидуального предпринимателя</P> </TD>
		<TD class="u"/>
		<TD class="u"> <P>\</P> </TD>
		<TD class="u"> <P/> </TD>
	</TR>
	<TR>
		<TD/>
		<TD/>
		<TD/>
		<TD> <P class="pt07 c">(подпись)</P> </TD>
	</TR>
</TABLE>
<P class="pt12 l"> <U> « {{ d1 }} » {{ m1 }} 20 {{y1}} г. </U> </P>
<P>М. П.</P>
</BODY>
</HTML>
