{% extends "sro2/extract_base.html" %}
{% block block1 %} №8 от 17.02.2010 года {% endblock %}
{% block block2 %} (зарегистрировано в Управлении Министерства юстиции РФ по Санкт-Петербургу и Ленинградской области 28 мая 2009 года за учетным номером в ведомственном реестре зарегистрированных некоммерческих организаций: 7814031668; ИНН 7840018528; ОГРН 1097800003509 от 25 мая 2009 года; регистрационный номер в государственном реестре саморегулируемых организаций: СРО-П-115-18012010; место нахождение: 191040, Санкт-Петербург, ул. Марата, д. 42) {% endblock %}
