<!-- Address.Select.Country -->
{% extends "core/address_base.html" %}
{% block body_main %}
<form action=".{% if next %}?next={{ next }}{% endif %}" method="post">
	<table border="0"> <tr>
		<td> Выберите страну: <td>
		<td> {{ form.item }} </td>
		<td>
			<input type="submit" value="OK"/>
			{% if next %} <a class="button" href="{{ next }}"> Отказаться </a> {% endif %}
		</td>
	</tr> </table>
</form>
<script type="text/javascript"> document.getElementById('id_item').focus() </script>
{% endblock %}
