<!-- Phone -->
{% extends "core/phone_base.html" %}
{% block body_main %}
<p>
	<a href="{{ object.get_edit_url }}"> <button> Изменить </button> </a>
	<button onClick="confirmDelete('{{ object.get_del_url }}')"> Удалить </button>
</p>
<h1> {{ object }} </h1>
{% if object.types.all %}
	<ul>
	{% for i in object.types.all %}
		<li> {{ i.name }} </li>
	{% endfor %}
	</ul>
{% endif %}
<!-- Contacts -->
<hr/>
<h2> Контакты: </h2>
{% for i in object.contactphone_set.all %}
	<p> <a href="{{ i.contact.get_absolute_url }}"> {{ i.contact }} ({{ i.type }}) </a> </p>
{% endfor %}
{% endblock %}
