<!-- Address.Select.Short -->
{% extends "gw/bits/address_base.html" %}
{% block body_detail %}
<!-- 2. Short -->
{% if isused %}
	<p> <form action=".{% if next %}?next={{ next }}{% endif %}" method="post">
		Выберите сокращение:
		{{ form.item }}
		<input type="submit" value="OK"/>
		{% if next %} <a class="button" href="{{ next }}"> Отказаться </a> {% endif %}
	</form> </p>
	<script type="text/javascript"> document.getElementById('id_item').focus() </script>
{% endif %}
<!-- 3. Detail -->
<table>
	<tr> <th> Наименование: </th> <td> {{ item.name }} </td> </tr>
	<tr> <th> Сокращение: </th> <td> {% if item.type %} {{ item.type }} {% endif %} </td> </tr>
	<tr> <th> Расположение сокращения: </th> <td> {% if item.typeplace %} {{ item.typeplace }} {% endif %} </td> </tr>
	<tr> <th> Печатать: </th> <td> {% if item.publish %} &radic; {% endif %} </td> </tr>
	<tr> <th> Конец: </th> <td> {% if item.endpoint %} &radic; {% endif %} </td> </tr>
	<tr> <th> Индекс: </th> <td> {% if item.zip %} {{ item.zip }} {% endif %} </td> </tr>
	<tr> <th> Полное наименование: </th> <td> {% if item.fullname %} {{ item.fullname }} {% endif %} </td> </tr>
	<tr>
		<th> <a class="button" href="{% url gw.views.address_del item.id %}{% if next %}?next={{ next }}{% endif %}" title="Удалить адрес"> &nbsp;X&nbsp; </a> </th>
		<th> <a class="button" href="{% url gw.views.address_edit item.id %}{% if next %}?next={{ next }}{% endif %}" title="Изменить адрес"> &nbsp;E&nbsp; </a> </th>
	</tr>
</table>
<hr/>
	<p> Еще: <a href="JavaScript:doMenu();" id=exp>&#9654;</a></p> <div id=div style="display:none">
<!-- 4. Add new address - w/ unused shorts -->
{% if isunused %}
<form action="{% url gw.views.address_add item.id %}{% if next %}?next={{ next }}{% endif %}" method="post">
	<p> Новый адрес: </p>
	<table> {{ formaddress.as_table }} </table>
	<input type="submit" value="OK"/>
</form>
{% if not isused %} <script type="text/javascript"> document.getElementById('id_item').focus() </script> {% endif %}
<hr/>
{% endif %}
<!-- 4. Add new short -->
<form action="{% url gw.views.address_add_short item.id %}{% if next %}?next={{ next }}{% endif %}" method="post">
	<p> Новое сокращение: </p>
	<table> {{ formshort.as_table }} </table>
	<input type="submit" value="OK"/>
</form>
{% if isused %} </div> {% endif %}
<hr/>
<!-- 5. Контакты -->
<h2> Контакты: </h2>
<ul>
{% for i in item.contactaddr_set.all %}
	<li> <a href="{% url gw.views.contact_detail i.contact.id %}"> {{ i.contact }} ({{ i.type }}) </a> </li>
{% endfor %}
</ul>
{% endblock %}
