<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title> LanSite </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="{% url views.index %}static/css/gmail/jquery-ui-1.8.5.custom.css" rel="stylesheet"/>
    <link type="text/css" href="{% url views.index %}static/css/index.css" rel="stylesheet"/>
</head>
<body>
<div id='page'>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
