{% extends "bills/base.html" %}
{% block body_main %}
<table border="0">
<tr>
<td valign="top">
<table border="1">
<caption>  Счет: </caption>
<tbody>
 <tr> <th> # </th> <td> {{ object.pk }} </td> </tr>
 <tr> <th> Объект </th> <td> {{ object.project }} </td> </tr>
 <tr> <th> Направление </th> <td> {{ object.depart }} </td> </tr>
 <tr> <th> Поставщик </th> <td> {{ object.supplier }} </td> </tr>
 <tr> <th> Ответственный </th> <td> {{ object.assign.get_fio }} </td> </tr>
 <tr> <th> Подписант </th> <td> {% if object.rpoint %} {{ object.rpoint }} {% else %} --- {% endif %} </td> </tr>
 <tr> <th> Состояние </th> <td> {{ object.get_state_name }} </td> </tr>
 <tr> <th> Маршрут </th> <td>
  <ol>
  {% for i in object.route_set.all %}
   <li> <p {% if i.order < object.rpoint.order %} style="text-decoration: line-through"{% endif %}> {{ i.get_str }} </p> </li>
  {% endfor %}
  </ol>
 </td> </tr>
 <tr>
  <td> Оригинал: </td>
  <td>
   {% for img in object.fileseq.fileseqitem_set.all %}
    <a href="{% url core.views.file_get img.pk %}" data-lightbox="roadtrip" title="{{ img.file.name }}">{{ img.file.name }}</a>
   {% endfor %}
  </td>
 </tr>
 </tbody>
</table>
</td>
<td valign="top">
<table border="1">
<caption> История: </caption>
<thead>
 <th> Ok </th>
 <th> Когда </th>
 <th> Кто </th>
 <th> Камменты </th>
</thead>
<tbody>
  {% for i in object.events.all %}
  <tr>
   <td valign="top"> {% if i.resume %} &radic; {% else %} &dagger; {% endif %} </td>
   <td valign="top"> {{i.ctime|date:"y.m.d H:i:d" }} </td>
   <td valign="top"> {{ i.approve.get_fio }} </td>
   <td valign="top"> <pre> {{ i.comment }} </pre> </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</td>
</tr>
</table>
<p>
{% if canedit %} <a href="{% url bills.views.bill_edit object.pk %}"> <button type="button"> Edit </button> </a> {% endif %}
{% if candel %} <a href="{% url bills.views.bill_delete object.pk %}"> <button type="button"> Delete </button> </a> {% endif %}
</p>
{% if canaccept %}
<form action="" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
<p>
{% if object.rpoint %}
<button type="submit" name="resume" value="accept"> {{ object.rpoint.action }} </button>
<button type="submit" name="resume" value="reject"> Отказать </button>
{% else %}
<button type="submit" name="resume" value="accept"> Вперед </button>
{% endif %}
</p>
</form>
{% endif %}
{% if err %} <p> Error: {{ err }} </p> {% endif %}
{% endblock %}
