{% extends "bills/base.html" %}
{% block body_main %}
<table border="0">
<tr>
<td valign="top">
<table border="1">
<caption> Счет: </caption>
<tbody>
 <tr> <th> # </th> <td> {{ object.pk }} </td> </tr>
 <tr> <th> Объект </th> <td> {{ object.place }} </td> </tr>
 <tr> <th> ПодОбъект </th> <td> {{ object.subject|default:"---" }} </td> </tr>
 <tr> <th> Направление </th> <td> {{ object.depart|default:"---" }} </td> </tr>
 <tr> <th> Плательщик </th> <td> {{ object.payer|default:"---" }} </td> </tr>
 <tr> <th> Поставщик </th> <td> {{ object.supplier }} </td> </tr>
 <tr> <th> Счет </th> <td> № {{ object.billno }} от {{ object.billdate|date:"d/m/y" }} </td> </tr>
 <tr> <th> Сумма счета </th> <td> {{ object.billsum }} </td> </tr>
 <tr> <th> Оплачено </th> <td> {{ object.payedsum }} </td> </tr>
 <tr> <th> К оплате </th> <td> {{ object.topaysum }} </td> </tr>
 <tr> <th> Ответственный </th> <td> {{ object.assign.get_fio }} </td> </tr>
 <tr> <th> Подписант </th> <td> {{ object.rpoint.approve.get_fio|default:"---" }} </td> </tr>
 <tr> <th> Состояние </th> <td> {{ object.get_state_name }} </td> </tr>
 <tr> <th> Маршрут </th> <td>
  <ol style="margin: 0">
  {% for i in object.route_set.all %}
   <li> <p style="margin: 0{% if i.order < object.rpoint.order %}; text-decoration: line-through{% endif %}"> {{ i.get_str }} </p> </li>
  {% endfor %}
  </ol>
 </td> </tr>
 <tr>
  <td> Оригинал: </td>
  <td> <ol style="margin: 0">
   {% for img in object.fileseq.fileseqitem_set.all %}
    <li>
     <a href="{% url core.views.file_get img.pk %}" data-lightbox="roadtrip" title="{{ img.file.name }}">{{ img.file.name }}</a>
     <!--a href="#" onClick="window.open('{% url core.views.file_get img.pk %}', '_blank', 'toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width=500, height=500');return(false)"> <img src="{{ STATIC_URL }}img/png_16x16.png" title="{{ img.file.name }}"/> </a-->
     <a href="{% url core.views.file_get img.pk %}"> <img src="{{ STATIC_URL }}img/png_16x16.png" title="Download"/> </a>
    </li>
   {% endfor %}
  </ol> </td>
 </tr>
 </tbody>
</table>
</td>
<td valign="top">
<table border="1">
<caption> История: </caption>
<thead>
 <th> Ok </th>
 <th> Когда </th>
 <th> Кто </th>
 <th> Комментарий </th>
</thead>
<tbody>
  {% for i in object.events.all %}
  <tr>
   <td valign="top"> <img {% if i.resume %} src="{{ STATIC_URL }}img/dialog-ok.png" title="OK" {% else %} src="{{ STATIC_URL }}img/dialog-cancel.png" title="Canceled" {% endif %} width="16px" height="16px"/> </td>
   <td valign="top"> {{ i.ctime }} </td>
   <td valign="top"> {{ i.approve.get_fio }} </td>
   <td valign="top"> <pre style="margin: 0"> {{ i.comment }} </pre> </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</td>
</tr>
</table>
<p>
{% if button.arch %}	<a href="{% url bills.views.bill_toscan object.pk %}">	{% include "button/arch.html" %} </a> {% endif %}
{% if button.edit %}
 {% if object.state.pk == 1 %}
	<a href="{% url bills.views.bill_edit object.pk %}"> {% include "button/edit.html" %} </a>
 {% else %}
	<a href="{% url bills.views.bill_reedit object.pk %}"> {% include "button/edit.html" %} </a>
 {% endif %}
{% endif %}
{% if button.del %}	<a href="{% url bills.views.bill_delete object.pk %}">	{% include "button/delete.html" %} </a> {% endif %}
{% if button.restart %}	<a href="{% url bills.views.bill_restart object.pk %}">	{% include "button/restart.html" %} </a> {% endif %}
</p>
{% if form %} {# was if canaccept #}
 <form action="" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
 <p> <i> (комментарий обязателен только при Отказе) </i> </p>
 <p>
 {% if button.accept %}
  <button type="submit" name="resume" value="accept" style="padding: 10px; background-color: chartreuse">
  {% if button.accept == 1 %}
   Вперед
  {% elif button.accept == 2 %}
   Согласовано
  {% elif button.accept == 3 %}
   В оплате
  {% else %}
   Оплачено
  {% endif %}
  </button>
 {% endif %}
 {% if button.reject %}
  <button type="submit" name="resume" value="reject" style="padding: 10px; background-color: red">
  {% ifequal button.reject 1 %}
   Отказать
  {% else %}
   Дубль
  {% endifequal %}
  </button>
 {% endif %}
 </p>
 </form>
{% endif %}
{% if err %} <p> Error: {{ err }} </p> {% endif %}
{% endblock %}
