{% extends "ref/base.html" %}
{% block body_main %}
<table width="100%" border="0">
	<tr> <td> ISO639 </td>		<td> Коды языков </td> </tr>
	<tr> <td> CPCODE </td>		<td> Телефонные коды стран мира </td> </tr>
	<tr> <td> БИК </td>		<td> Банковский идентификационный код </td> </tr>
	<tr> <td> ЕСКД </td>		<td> Общероссийский классификатор изделий и конструкторских документов </td> </tr>
	<tr> <td> <a href="{% url apps.ref.views.kladr_list %}"> КЛАДР </a> </td>		<td> Классификатор адресов </td> </tr>
	<tr> <td> <a href="{% url apps.ref.views.okato_list %}"> ОКАТО </a> </td>		<td> Общероссийский классификатор объектов административно-территориального деления </td> </tr>
	<tr> <td> ОКВ </td>		<td> Общероссийский классификатор валют </td> </tr>
	<tr> <td> ОКВГУМ </td>		<td> Общероссийский классификатор видов грузов, упаковки и упаковочных материалов </td> </tr>
	<tr> <td> ОКВЭД </td>		<td> Общероссийский классификатор видов экономической деятельности </td> </tr>
	<tr> <td> ОКГР </td>		<td> Общероссийский классификатор гидроэнергетических ресурсов </td> </tr>
	<tr> <td> ОКД </td>		<td> Общероссийский классификатор деталей, изготавливаемых сваркой, пайкой, склеиванием и термической резкой </td> </tr>
	<tr> <td> ОКДП </td>		<td> Общероссийский классификатор видов экономической деятельности, продукции и услуг </td> </tr>
	<tr> <td> ОКЕИ </td>		<td> Общероссийский классификатор единиц измерения </td> </tr>
	<tr> <td> ОКЗ </td>		<td> Общероссийский классификатор занятий </td> </tr>
	<tr> <td> ОКИН </td>		<td> Общероссийский классификатор информации о населении </td> </tr>
	<tr> <td> ОКИСЗН </td>		<td> Общероссийский классификатор информации по социальной защите населения </td> </tr>
	<tr> <td> ОКНПО </td>		<td> Общероссийский классификатор начального профессионального образования </td> </tr>
	<tr> <td> ОКОГУ </td>		<td> Общероссийский классификатор органов государственной власти и управления </td> </tr>
	<tr> <td> ОКОК </td>		<td> Общероссийский классификатор информации об общероссийских классификаторах </td> </tr>
	<tr> <td> <a href="{% url apps.ref.views.okopf_list %}"> ОКОПФ </a> </td>		<td> Общероссийский классификатор организационно-правовых форм </td> </tr>
	<tr> <td> ОКОФ </td>		<td> Общероссийский классификатор основных фондов </td> </tr>
	<tr> <td> ОКП </td>		<td> Общероссийский классификатор продукции </td> </tr>
	<tr> <td> ОКПДТР </td>		<td> Общероссийский классификатор профессий рабочих, должностей служащих и тарифных разрядов </td> </tr>
	<tr> <td> ОКПИиПВ </td>		<td> Общероссийский классификатор полезных ископаемых и подземных вод </td> </tr>
	<tr> <td> ОКПО </td>		<td> Общероссийский классификатор предприятий и организаций </td> </tr>
	<tr> <td> ОКС </td>		<td> Общероссийский классификатор стандартов </td> </tr>
	<tr> <td> ОКСВНК </td>		<td> Общероссийский классификатор специальностей высшей научной квалификации </td> </tr>
	<tr> <td> <a href="{% url apps.ref.views.oksm_list %}"> ОКСМ </a> </td>		<td> Общероссийский классификатор стран мира </td> </tr>
	<tr> <td> ОКСО </td>		<td> Общероссийский классификатор специальностей по образованию </td> </tr>
	<tr> <td> ОКТМО </td>		<td> Общероссийский классификатор территорий муниципальных образований </td> </tr>
	<tr> <td> ОКУД </td>		<td> Общероссийский классификатор управленческой документации </td> </tr>
	<tr> <td> ОКУН </td>		<td> Общероссийский классификатор услуг населению </td> </tr>
	<tr> <td> ОКФС </td>		<td> Общероссийский классификатор форм собственности </td> </tr>
	<tr> <td> ОКЭР </td>		<td> Общероссийский классификатор экономических регионов </td> </tr>
	<tr> <td> ОТКД </td>		<td> Общероссийский технологический классификатор деталей машиностроения и приборостроения </td> </tr>
	<tr> <td> ОТКСЕ </td>		<td> Общероссийский технологический классификатор сборочных единиц машиностроения и приборостроения </td> </tr>
</table>
{% endblock %}
