{% extends "task/base.html" %}
{% block title %} {{ block.super }} ToDo {% endblock %}
{% block head_css %}
	<link type="text/css" href="{{ STATIC_URL }}css/dropdownmenu.css" rel="stylesheet"/>
{% endblock %}
{% block head_js %} {{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/selectmenu.js"></script>
{% endblock %}
{% block onload_js %} {{ block.super }}
	setmenu("menu_gw_task_todo");
	setdropdown("#dropdown0, #dropdown1, #dropdown2, #dropdown3, #dropdown4");
	set_selection_menu("cat", "#selectcat");	// selectmenu.js
	set_selection_menu("todo", "#selecttodo");
	set_delete_form('#del_cat', 'catform');
	set_delete_form('#del_todo', 'itemform');
{% endblock %}
{% block body_main %}
<table class="catitem"> <tr>
	{# Categories #}
	<td class="catcell">
		<table class="catlist">
			<caption>
				<a href="{% url apps.task.views.todo_cat_add %}"> <button title="Добавить новую категорию" style="float:left"> + </button> </a>
				<div id="dropdown0" class="dropdown" style="float:left">
					<button title="Всякие действия"> Действия &#9663; </button>
					<div>
						<ul>
							<li> <a href="#del_cat"> Удалить </a> </li>
						</ul>
					</div>
				</div>
				({{ cat_list.count }})
			</caption>
			<thead>
				<tr>
					<td> {% with "selectcat" as id %} {% include "selectmenu.html" %} {% endwith %} </td>
					<th title="This user"> U </th>	<!-- All users / this user -->
					<th title="This app"> A </th>	<!-- All app / this app -->
					<th> Категория </th>
					<th/>	<!-- Edit -->
				</tr>
			</thead>
			<form id="catform" method="post" action="{% url apps.task.views.todo_cat_del_selected %}">
			<tbody>
				<tr style="background: {% if current_cat %} white {% else %} #BBCCFF {% endif %};"> <td/> <td/> <td/> <td> <a href="{% url apps.task.views.todo_index%}?a=f&o=categories&v=*"> &lt;Все&gt; </a> </td> <td/> </tr>
				{% for object in cat_list %}
					<tr {% ifequal current_cat object.id %} style="background: #BBCCFF" {% else %} {% endifequal %}>
						<td nowrap> <input type="checkbox" name="cat" value="{{ object.id }}"/> </td>
						<td align="center"> {% if object.user %} &bull; {% endif %} </td>
						<td align="center"> {% if object.app %} &bull; {% endif %} </td>
						<td> <a href="{% url apps.task.views.todo_index%}?a=f&o=categories&v={{ object.id }}" title="{{ object.description }}"> {{ object.name }} </a> </td>
						<td> <a href="{% url apps.task.views.todo_cat_edit object.id %}"> &#9997; </a> </td>
					</tr>
				{% endfor %}
			</tbody>
		</form>
		</table>
	</td>
	{# ToDos #}
	<td class="itemcell">
		<table class="itemlist">
			<caption>
				<a href="{% url apps.task.views.todo_add %}"> <button title="Добавить новую задачу" style="float:left"> + </button> </a>
				<div id="dropdown1" class="dropdown" style="float:left">
					<button title="Настроить колонки"> Колонки &#9663; </button>
					<div>
						<form action="{% url apps.task.views.todo_index_setcolumns %}" method="post">
							<table>
								{{ columns_form.as_table }}
							</table>
							<input type="submit" value="Submit"/>
						</form>
					</div>
				</div>
				<div id="dropdown2" class="dropdown" style="float:left">
					<button title="Настроить сортировку"> Сортировка &#9663; </button>
					<div>
						<form action="{% url apps.task.views.todo_index_setsort %}" method="post">
							<table>
								{{ sort_form.as_table }}
							</table>
							<input type="submit" value="Submit"/>
						</form>
					</div>
				</div>
				<div id="dropdown3" class="dropdown" style="float:left">
					<button title="Настроить Фильтр"> Фильтр &#9663; </button>
					<div>
						<form id="dd_filter_child" action="{% url apps.task.views.todo_index_setfilter %}" method="post">
							<table>
								{{ filter_form.as_table }}
							</table>
							<input type="submit" value="Submit"/>
						</form>
					</div>
				</div>
				<div id="dropdown4" class="dropdown" style="float:left">
					<button title="Всякие действия"> Действия &#9663; </button>
					<div>
						<ul>
							<li> <a href="#del_todo"> Удалить </a> </li>
							<li> <a href="{% url apps.task.views.todo_ical_export %}"> Экспорт в iCal </a> </li>
							<li> <a href="{% url apps.task.views.todo_ical_import %}"> Импорт из iCal </a> </li>
							<li> <a href="{% url apps.task.views.todo_ical_export2 %}"> Экспорт в iCal #2 </a> </li>
							<li> <a href="{% url apps.task.views.todo_ical_import2 %}"> Импорт из iCal #2 </a> </li>
						</ul>
					</div>
				</div>
				<!--input type="submit" value="x" title="Удалить выделенное"  style="cursor:pointer"/-->
				{% include "paginator.html" %}
			</caption>
			<thead>
				<tr>
					<td> {% with "selecttodo" as id %} {% include "selectmenu.html" %} {% endwith %} </td>
					{% for i in object_head %}
						<th nowrap> {{ i }} </th>
					{% endfor %}
				</tr>
			</thead>
			<form id="itemform" method="post" action="{# url apps.task.views.todo_del_selected #}">
			<tbody>
				{% for object in object_list %}
					<tr>
						<td nowrap> <input type="checkbox" name="todo" value="{{ object.id }}"/> </td>
						{% if not hcol_dict.user %} <td nowrap> {{ object.user }} </td> {% endif %}
						{% if not hcol_dict.created %} <td nowrap> {{ object.created|date }} </td> {% endif %}
						{% if not hcol_dict.updated %} <td nowrap> {{ object.updated|date }} </td> {% endif %}
						{% if not hcol_dict.summary %} <td nowrap> <a href="{{ object.get_absolute_url }}" title="{{ object.description }}"> {{ object.summary }} </a> </td> {% endif %}
						{% if not hcol_dict.status %} <td nowrap> {{ object.getstatusname|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.restriction %} <td nowrap> {{ object.getrestrictionname|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.categories %} <td nowrap> {{ object.getcategories|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.attendee %} <td nowrap> {{ object.attendee|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.start %} <td nowrap> {{ object.start_d|date|default_if_none:"" }} {{ object.start_t|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.duration %} <td nowrap> {{ object.duration_d|default_if_none:"" }} {{ object.duration_t|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.priority %} <td nowrap> {{ object.getpriorityname|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.due %} <td nowrap> {{ object.due_d|default_if_none:""|date }} {{ object.due_t|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.completed %} <td nowrap> {{ object.completed|date|default_if_none:"" }} </td> {% endif %}
						{% if not hcol_dict.percent %} <td nowrap> {{ object.percent|default_if_none:"" }} </td> {% endif %}
					</tr>
				{% endfor %}
			</tbody>
			</form>
		</table>
	</td>
</tr> </table>
{% endblock %}
